<nav class="steps" role="navigation" aria-label="Stepped Navigation">
    <ol>
        <li><span class="step">Cart</span></li>
        <li><span class="step">Review</span></li>
        <li><span class="step">Shipping</span></li>
        <li><span class="step">Billing</span></li>
        <li><span class="step">Complete</span></li>
    </ol>
</nav>

<nav class="steps" role="navigation" aria-label="Stepped Navigation">
    <ol>
        <li class="is-complete"><span class="step">Cart</span></li>
        <li class="is-complete"><span class="step">Review</span></li>
        <li class="is-complete"><span class="step">Shipping</span></li>
        <li><span class="step">Billing</span></li>
        <li><span class="step">Complete</span></li>
    </ol>
</nav>

<nav class="steps" role="navigation" aria-label="Stepped Navigation">
    <ol>
        <li class="is-complete"><span class="step">Cart</span></li>
        <li class="is-complete"><span class="step">Review</span></li>
        <li class="is-complete"><span class="step">Shipping</span></li>
        <li class="is-complete"><span class="step">Billing</span></li>
        <li class="is-complete"><span class="step">Complete</span></li>
    </ol>
</nav>