<nav class="steps" role="navigation" aria-label="Stepped Navigation">
    <ol>
        <li><span class="step">Step 1</span></li>
    </ol>
</nav>

<nav class="steps" role="navigation" aria-label="Stepped Navigation">
    <ol>
        <li><span class="step">Step 1</span></li>
        <li><span class="step">Step 2</span></li>
    </ol>
</nav>

<nav class="steps" role="navigation" aria-label="Stepped Navigation">
    <ol>
        <li><span class="step">Step 1</span></li>
        <li><span class="step">Step 2</span></li>
        <li><span class="step">Step 3</span></li>
    </ol>
</nav>