<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Titon Toolkit - Step</title>
    <link href="../../css/toolkit.css" rel="stylesheet">
    <link href="../../css/demo.css" rel="stylesheet">
    <script src="../../js/jquery-2.0.3.js"></script>
    <script src="../../js/toolkit.js"></script>
</head>
<body>

<nav class="steps large" role="navigation" aria-label="Stepped Navigation">
    <ol>
        <li><span class="step">Cart</span></li>
        <li><span class="step">Review</span></li>
        <li><span class="step">Shipping</span></li>
        <li><span class="step">Billing</span></li>
        <li><span class="step">Complete</span></li>
    </ol>
</nav>

<nav class="steps" role="navigation" aria-label="Stepped Navigation">
    <ol>
        <li><span class="step">Cart</span></li>
        <li><span class="step">Review</span></li>
        <li><span class="step">Shipping</span></li>
        <li><span class="step">Billing</span></li>
        <li><span class="step">Complete</span></li>
    </ol>
</nav>

<nav class="steps small" role="navigation" aria-label="Stepped Navigation">
    <ol>
        <li><span class="step">Cart</span></li>
        <li><span class="step">Review</span></li>
        <li><span class="step">Shipping</span></li>
        <li><span class="step">Billing</span></li>
        <li><span class="step">Complete</span></li>
    </ol>
</nav>

</body>
</html>