<form action="" method="get" id="form">
    <div class="field">
        <label class="input-checkbox" for="checkbox-1"><input id="checkbox-1" type="checkbox" name="checkbox[]" checked> Red</label>
        <label class="input-checkbox" for="checkbox-2"><input id="checkbox-2" type="checkbox" name="checkbox[]"> Blue</label>
        <label class="input-checkbox" for="checkbox-3"><input id="checkbox-3" type="checkbox" name="checkbox[]"> Green</label>
        <label class="input-checkbox" for="checkbox-4"><input id="checkbox-4" type="checkbox" name="checkbox[]" disabled> Yellow</label>
        <label class="input-checkbox" for="checkbox-5"><input id="checkbox-5" type="checkbox" name="checkbox[]"> Pink</label>
        <label class="input-checkbox" for="checkbox-6"><input id="checkbox-6" type="checkbox" name="checkbox[]"> Purple</label>
    </div>
</form>

<script>
    $(function() {
        $('#form').input();
    });
</script>
