<form action="" method="get" id="form">
    <div class="field">
        <label class="input-checkbox" for="titan-1"><input id="titan-1" type="checkbox" name="titan[]" checked> Oceanus</label>
        <label class="input-checkbox" for="titan-2"><input id="titan-2" type="checkbox" name="titan[]"> Tethys</label>
        <label class="input-checkbox" for="titan-3"><input id="titan-3" type="checkbox" name="titan[]"> Hyperion</label>
        <label class="input-checkbox" for="titan-4"><input id="titan-4" type="checkbox" name="titan[]" disabled> Theia</label>
        <label class="input-checkbox" for="titan-5"><input id="titan-5" type="checkbox" name="titan[]"> Coeus</label>
        <label class="input-checkbox" for="titan-6"><input id="titan-6" type="checkbox" name="titan[]"> Phoebe</label>
    </div>

    <div class="field">
        <label class="input-checkbox" for="titan-7"><input id="titan-7" type="checkbox" name="titan[]"> Cronus</label>
        <label class="input-checkbox" for="titan-8"><input id="titan-8" type="checkbox" name="titan[]"> Rhea</label>
        <label class="input-checkbox" for="titan-9"><input id="titan-9" type="checkbox" name="titan[]"> Mnemosyne</label>
        <label class="input-checkbox" for="titan-10"><input id="titan-10" type="checkbox" name="titan[]"> Themis</label>
        <label class="input-checkbox" for="titan-11"><input id="titan-11" type="checkbox" name="titan[]"> Crius</label>
        <label class="input-checkbox" for="titan-12"><input id="titan-12" type="checkbox" name="titan[]" disabled> Iapetus</label>
    </div>
</form>

<script>
    $(function() {
        $('#form').input();
    });
</script>