<form action="" method="get" id="form">
    <div class="field">
        <label class="input-radio" for="radio-1"><input id="radio-1" type="radio" name="radio[]" checked> Red</label>
        <label class="input-radio" for="radio-2"><input id="radio-2" type="radio" name="radio[]"> Blue</label>
        <label class="input-radio" for="radio-3"><input id="radio-3" type="radio" name="radio[]"> Green</label>
        <label class="input-radio" for="radio-4"><input id="radio-4" type="radio" name="radio[]" disabled> Yellow</label>
        <label class="input-radio" for="radio-5"><input id="radio-5" type="radio" name="radio[]"> Pink</label>
        <label class="input-radio" for="radio-6"><input id="radio-6" type="radio" name="radio[]"> Purple</label>
    </div>

    <div class="field">
        <label class="input-checkbox" for="checkbox-1"><input id="checkbox-1" type="checkbox" name="checkbox[]" checked> Red</label>
        <label class="input-checkbox" for="checkbox-2"><input id="checkbox-2" type="checkbox" name="checkbox[]"> Blue</label>
        <label class="input-checkbox" for="checkbox-3"><input id="checkbox-3" type="checkbox" name="checkbox[]"> Green</label>
        <label class="input-checkbox" for="checkbox-4"><input id="checkbox-4" type="checkbox" name="checkbox[]" disabled> Yellow</label>
        <label class="input-checkbox" for="checkbox-5"><input id="checkbox-5" type="checkbox" name="checkbox[]"> Pink</label>
        <label class="input-checkbox" for="checkbox-6"><input id="checkbox-6" type="checkbox" name="checkbox[]"> Purple</label>
    </div>

    <div class="field">
        <label class="field-label" for="languages">Languages</label>
        <select id="languages" class="input" name="languages">
            <option value="PHP">PHP</option>
            <option value="Ruby" disabled>Ruby</option>
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="Go">Go</option>
            <option value="JavaScript" selected>JavaScript</option>
            <option value="C">C</option>
            <option value="C++">C++</option>
            <option value="C#">C#</option>
            <option value="Rust">Rust</option>
            <option value="Nim">Nim</option>
        </select>
    </div>
</form>

<script>
    $(function() {
        $('#form').input();
    });
</script>
