<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Titon Toolkit - Input</title>
    <link href="../../css/toolkit.css" rel="stylesheet">
    <link href="../../css/demo.css" rel="stylesheet">
    <script src="../../js/jquery-2.0.3.js"></script>
    <script src="../../js/toolkit.js"></script>
</head>
<body>

<form action="" method="get" id="form">
    <div class="field">
        <label class="input-radio" for="titan-1"><input id="titan-1" type="radio" name="titan[]" checked> Oceanus</label>
        <label class="input-radio" for="titan-2"><input id="titan-2" type="radio" name="titan[]"> Tethys</label>
        <label class="input-radio" for="titan-3"><input id="titan-3" type="radio" name="titan[]"> Hyperion</label>
        <label class="input-radio" for="titan-4"><input id="titan-4" type="radio" name="titan[]" disabled> Theia</label>
        <label class="input-radio" for="titan-5"><input id="titan-5" type="radio" name="titan[]"> Coeus</label>
        <label class="input-radio" for="titan-6"><input id="titan-6" type="radio" name="titan[]"> Phoebe</label>
    </div>

    <div class="field">
        <label class="input-radio" for="titan-7"><input id="titan-7" type="radio" name="titan[]"> Cronus</label>
        <label class="input-radio" for="titan-8"><input id="titan-8" type="radio" name="titan[]"> Rhea</label>
        <label class="input-radio" for="titan-9"><input id="titan-9" type="radio" name="titan[]"> Mnemosyne</label>
        <label class="input-radio" for="titan-10"><input id="titan-10" type="radio" name="titan[]"> Themis</label>
        <label class="input-radio" for="titan-11"><input id="titan-11" type="radio" name="titan[]"> Crius</label>
        <label class="input-radio" for="titan-12"><input id="titan-12" type="radio" name="titan[]" disabled> Iapetus</label>
    </div>
</form>

<script>
    $(function() {
        $('#form').input();
    });
</script>

</body>
</html>