<form action="" method="get" id="form">
    <div class="field">
        <label class="input-radio" for="radio-1"><input id="radio-1" type="radio" name="radio[]" checked> Red</label>
        <label class="input-radio" for="radio-2"><input id="radio-2" type="radio" name="radio[]"> Blue</label>
        <label class="input-radio" for="radio-3"><input id="radio-3" type="radio" name="radio[]"> Green</label>
        <label class="input-radio" for="radio-4"><input id="radio-4" type="radio" name="radio[]" disabled> Yellow</label>
        <label class="input-radio" for="radio-5"><input id="radio-5" type="radio" name="radio[]"> Pink</label>
        <label class="input-radio" for="radio-6"><input id="radio-6" type="radio" name="radio[]"> Purple</label>
    </div>
</form>

<script>
    $(function() {
        $('#form').input();
    });
</script>
