<form action="" method="get" id="form">
    <div class="field">
        <label class="field-label" for="titans">Titans</label>
        <select id="titans" class="input" name="titans">
            <option value="Cronus" data-description="King of the Titans">Cronus</option>
            <option value="Rhea" data-description="Titaness of Fertility" disabled>Rhea</option>
            <option value="Oceanus" data-description="Titan of the Earth-river">Oceanus</option>
            <option value="Tethys" data-description="Titaness of Water">Tethys</option>
            <option value="Hyperion" data-description="Titan of Light">Hyperion</option>
            <option value="Theia" data-description="Titaness of Sight">Theia</option>
            <option value="Coeus" data-description="Titan of Intelligence">Coeus</option>
            <option value="Phoebe" data-description="Titaness of the Moon">Phoebe</option>
            <option value="Mnemosyne" data-description="Titaness of Memory">Mnemosyne</option>
            <option value="Themis" data-description="Titaness of Justice">Themis</option>
            <option value="Crius" data-description="Titan of the Heavens">Crius</option>
            <option value="Iapetus" data-description="Titan of Mortality">Iapetus</option>
        </select>
    </div>

    <div class="field">
        <label class="field-label" for="olympians">Olympians</label>
        <select id="olympians" class="input" name="olympians">
            <option value="Zeus" data-description="God of the Sky">Zeus</option>
            <option value="Hera" data-description="Goddess of Women">Hera</option>
            <option value="Poseidon" data-description="God of the Sea">Poseidon</option>
            <option value="Demeter" data-description="Goddess of Agriculture" disabled>Demeter</option>
            <option value="Athena" data-description="Goddess of Wisdom">Athena</option>
            <option value="Apollo" data-description="God of Music and Art">Apollo</option>
            <option value="Artemis" data-description="Goddess of the Hunt">Artemis</option>
            <option value="Ares" data-description="God of War">Ares</option>
            <option value="Aphrodite" data-description="Goddess of Love">Aphrodite</option>
            <option value="Hephaestus" data-description="God of the Forge">Hephaestus</option>
            <option value="Hermes" data-description="God of Trade">Hermes</option>
            <option value="Hestia" data-description="Goddess of the Hearth">Hestia</option>
            <option value="Dionysus" data-description="God of Wine">Dionysus</option>
        </select>
    </div>
</form>

<script>
    $(function() {
        $('#form').input();
    });
</script>