<form action="" method="get" id="form">
    <div class="field">
        <label class="field-label" for="deities">Deities</label>
        <select id="deities" class="input" name="deities">
            <optgroup label="Titans">
                <option value="Cronus">Cronus</option>
                <option value="Rhea" disabled>Rhea</option>
                <option value="Oceanus">Oceanus</option>
                <option value="Tethys">Tethys</option>
                <option value="Hyperion">Hyperion</option>
                <option value="Theia">Theia</option>
                <option value="Coeus">Coeus</option>
                <option value="Phoebe">Phoebe</option>
                <option value="Mnemosyne">Mnemosyne</option>
                <option value="Themis">Themis</option>
                <option value="Crius">Crius</option>
                <option value="Iapetus">Iapetus</option>
            </optgroup>

            <optgroup label="Olympians">
                <option value="Zeus">Zeus</option>
                <option value="Hera">Hera</option>
                <option value="Poseidon">Poseidon</option>
                <option value="Demeter" disabled>Demeter</option>
                <option value="Athena">Athena</option>
                <option value="Apollo">Apollo</option>
                <option value="Artemis">Artemis</option>
                <option value="Ares">Ares</option>
                <option value="Aphrodite">Aphrodite</option>
                <option value="Hephaestus">Hephaestus</option>
                <option value="Hermes">Hermes</option>
                <option value="Hestia">Hestia</option>
                <option value="Dionysus">Dionysus</option>
            </optgroup>

            <optgroup label="Muses" disabled>
                <option value="Calliope">Calliope</option>
                <option value="Clio">Clio</option>
                <option value="Erato">Erato</option>
                <option value="Euterpe">Euterpe</option>
                <option value="Melpomene">Melpomene</option>
                <option value="Polyhymnia">Polyhymnia</option>
                <option value="Terpsichore">Terpsichore</option>
                <option value="Thalia">Thalia</option>
                <option value="Urania">Urania</option>
            </optgroup>
        </select>
    </div>
</form>

<script>
    $(function() {
        $('#form').input();
    });
</script>