<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Titon Toolkit - Input</title>
    <link href="../../css/toolkit.css" rel="stylesheet">
    <link href="../../css/demo.css" rel="stylesheet">
    <script src="../../js/jquery-2.0.3.js"></script>
    <script src="../../js/toolkit.js"></script>
</head>
<body>

<form action="" method="get" id="form">
    <div class="field">
        <label class="field-label" for="titans">Titans</label>
        <select id="titans" class="input" name="titans" title="-- Select a Titan --" multiple>
            <option value="Cronus">Cronus</option>
            <option value="Rhea" disabled>Rhea</option>
            <option value="Oceanus">Oceanus</option>
            <option value="Tethys">Tethys</option>
            <option value="Hyperion">Hyperion</option>
            <option value="Theia">Theia</option>
            <option value="Coeus">Coeus</option>
            <option value="Phoebe">Phoebe</option>
            <option value="Mnemosyne">Mnemosyne</option>
            <option value="Themis">Themis</option>
            <option value="Crius">Crius</option>
            <option value="Iapetus">Iapetus</option>
        </select>
    </div>

    <div class="field">
        <label class="field-label" for="olympians">Olympians</label>
        <select id="olympians" class="input" name="olympians" title="-- Select an Olympian --" multiple data-inputselect-multipleformat="list">
            <option value="Zeus">Zeus</option>
            <option value="Hera">Hera</option>
            <option value="Poseidon">Poseidon</option>
            <option value="Demeter" disabled>Demeter</option>
            <option value="Athena">Athena</option>
            <option value="Apollo">Apollo</option>
            <option value="Artemis">Artemis</option>
            <option value="Ares">Ares</option>
            <option value="Aphrodite">Aphrodite</option>
            <option value="Hephaestus">Hephaestus</option>
            <option value="Hermes">Hermes</option>
            <option value="Hestia">Hestia</option>
            <option value="Dionysus">Dionysus</option>
        </select>
    </div>
</form>

<script>
    $(function() {
        $('#form').input({
            listLimit: 5
        });
    });
</script>

</body>
</html>