<form action="" method="get" id="form">
    <div class="field">
        <label class="field-label" for="markup">Markup &amp; Data Formats</label>
        <select id="markup" class="input" name="markup">
            <option value="HTML" title="Hyper-Text Markup Language">HTML</option>
            <option value="XHTML" title="Extensible Hyper-Text Markup Language" disabled>XHTML</option>
            <option value="XML" title="Extensible Markup Language">XML</option>
            <option value="CSS" title="Cascading Style Sheets">CSS</option>
            <option value="YAML" title="Yet Another Markup Language">YAML</option>
            <option value="JSON" title="JavaScript Object Notation">JSON</option>
        </select>
    </div>
</form>

<script>
    $(function() {
        $('#form').input();
    });
</script>
