<form action="" method="get" id="form">
    <div class="field">
        <label class="field-label" for="web-dev">Web Development</label>
        <select id="web-dev" class="input" name="web-dev">
            <optgroup label="Markup &amp; Data Formats">
                <option value="HTML">HTML</option>
                <option value="XHTML" disabled>XHTML</option>
                <option value="XML">XML</option>
                <option value="CSS">CSS</option>
                <option value="YAML">YAML</option>
                <option value="JSON">JSON</option>
            </optgroup>

            <optgroup label="Languages">
                <option value="PHP">PHP</option>
                <option value="Ruby" disabled>Ruby</option>
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="Go">Go</option>
                <option value="JavaScript">JavaScript</option>
                <option value="C">C</option>
                <option value="C++">C++</option>
                <option value="C#">C#</option>
                <option value="Rust">Rust</option>
                <option value="Nim">Nim</option>
            </optgroup>

            <optgroup label="Databases" disabled>
                <option value="MySQL">MySQL</option>
                <option value="PostgreSQL">PostgreSQL</option>
                <option value="SQLite">SQLite</option>
                <option value="MongoDB">MongoDB</option>
                <option value="Oracle">Oracle</option>
                <option value="SQL Server">SQL Server</option>
            </optgroup>
        </select>
    </div>
</form>

<script>
    $(function() {
        $('#form').input();
    });
</script>
