<form action="" method="get" id="form">
    <div class="field">
        <label class="field-label" for="languages">Languages</label>
        <select id="languages" class="input" name="languages">
            <option value="PHP">PHP</option>
            <option value="Ruby" disabled>Ruby</option>
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="Go">Go</option>
            <option value="JavaScript" selected>JavaScript</option>
            <option value="C">C</option>
            <option value="C++">C++</option>
            <option value="C#">C#</option>
            <option value="Rust">Rust</option>
            <option value="Nim">Nim</option>
        </select>
    </div>
</form>

<script>
    $(function() {
        $('#form').input();
    });
</script>
