<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Titon Toolkit - Tabs</title>
    <link href="../../css/toolkit.css" rel="stylesheet">
    <link href="../../css/demo.css" rel="stylesheet">
    <script src="../../js/jquery-2.0.3.js"></script>
    <script src="../../js/toolkit.js"></script>
</head>
<body>

<div class="tabs" id="tabs">
    <nav class="tabs-nav">
        <ul>
            <li><a href="ajax/titans.html" class="button">Titans</a></li>
            <li><a href="ajax/olympians.html" class="button">Olympians</a></li>
            <li><a href="ajax/muses.html" class="button">Muses</a></li>
        </ul>
    </nav>

    <section class="tabs-section" id="titans"></section>
    <section class="tabs-section" id="olympians"></section>
    <section class="tabs-section" id="muses"></section>
</div>

<script>
    $(function() {
        $('#tabs').tabs({
            ajax: true
        });
    });
</script>

</body>
</html>