<p>In the ancient Greek religion, the Twelve Olympians are the major deities of the Greek pantheon,
    commonly considered to be Zeus, Hera, Poseidon, Demeter, Athena, Apollo, Artemis, Ares, Aphrodite,
    Hephaestus, Hermes and either Hestia, or Dionysus. Hades and Persephone were sometimes included as
    part of the twelve Olympians (primarily due to the influence of the Eleusinian Mysteries),
    although in general Hades was excluded, because he resided permanently in the underworld and never
    visited Mount Olympus. Heracles and Asclepius were sometimes included as well.</p>