<a href="#dom" class="button js-modal">Open DOM Modal</a>
<a href="ajax/default.html" class="button js-modal">Open AJAX Modal</a>

<div id="dom" class="hidden">
    <div class="modal-head">
        <h4>DOM Modal</h4>
    </div>

    <div class="modal-body">
        The content of this modal was loaded through a hidden DOM element and inserted into the modal.
    </div>

    <div class="modal-foot">
        <button type="button" class="button" data-modal-close>Close</button>
    </div>
</div>

<script>
    $(function() {
        $('.js-modal').modal();
    });
</script>
