<div class="notice" role="status">
    <button class="notice-close"><span class="x"></span></button>

    <b>Hey!</b> You should check this out.
</div>

<div class="notice" role="status">
    <p>This message is so long, that it had to be split into 2 paragraphs.</p>
    <hr>
    <p>Sorry about that, won't happen again. <a href="">Learn why</a>.</p>
</div>

<div class="notice" role="status">
    <h5 class="notice-title">Pay Attention!</h5>

    <p>We have something important to tell you.</p>
</div>

<script>
    $(document).on('click', '.notice-close', function() {
        $(this).parent().slideUp();
    });
</script>