<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Titon Toolkit - Notice</title>
    <link href="../../css/toolkit.css" rel="stylesheet">
    <link href="../../css/demo.css" rel="stylesheet">
    <script src="../../js/jquery-2.0.3.js"></script>
    <script src="../../js/toolkit.js"></script>
</head>
<body>

<div class="notice" role="status">
    <b>Hey!</b> You should check this out.
</div>

<div class="notice is-info" role="status">
    <b>Take Note!</b> This is informational, but not critically important.
</div>

<div class="notice is-success" role="status">
    <b>Congrats!</b> You successfully did something.
</div>

<div class="notice is-warning" role="alert">
    <b>Warning!</b> Somethings gone wrong, you should check it out.
</div>

<div class="notice is-error" role="alert">
    <b>Oh No!</b> Things are broken, we don't know why.
</div>

</body>
</html>