<nav class="breadcrumb large" role="navigation" aria-label="Breadcrumb Navigation">
    <ol>
        <li><a href="">Home <span class="caret">/</span></a></li>
        <li><a href="">Forum <span class="caret">/</span></a></li>
        <li><a href="">Topic <span class="caret">/</span></a></li>
        <li><a href="">Hello World <span class="caret">/</span></a></li>
    </ol>
</nav>

<nav class="breadcrumb" role="navigation" aria-label="Breadcrumb Navigation">
    <ol>
        <li><a href="">Home <span class="caret">/</span></a></li>
        <li><a href="">Forum <span class="caret">/</span></a></li>
        <li><a href="">Topic <span class="caret">/</span></a></li>
        <li><a href="">Hello World <span class="caret">/</span></a></li>
    </ol>
</nav>

<nav class="breadcrumb small" role="navigation" aria-label="Breadcrumb Navigation">
    <ol>
        <li><a href="">Home <span class="caret">/</span></a></li>
        <li><a href="">Forum <span class="caret">/</span></a></li>
        <li><a href="">Topic <span class="caret">/</span></a></li>
        <li><a href="">Hello World <span class="caret">/</span></a></li>
    </ol>
</nav>
