<button class="button" id="mask-content">Mask Content</button>
<button class="button" id="mask-document">Mask Document</button>

<hr class="demo-spacer">

<div id="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit, lacus quis tempus fermentum, risus magna blandit massa, vel cursus ante diam et mi. Maecenas porttitor feugiat sapien. Vivamus ultricies placerat lacus eu consectetur. Sed nibh quam, mattis sed tincidunt aliquam, ornare vitae diam. Pellentesque eleifend sagittis ante, sed dignissim magna malesuada non. Etiam volutpat lacus quis augue rutrum, eget pharetra ante pulvinar. Phasellus viverra convallis ex sit amet convallis. Sed accumsan dignissim massa, eu volutpat tellus semper at. Quisque non lectus sit amet lectus consectetur tincidunt nec in sem. Fusce lobortis blandit turpis, vel vestibulum nulla egestas vitae. Vivamus quis orci vitae odio elementum facilisis. Vestibulum suscipit quam in dictum ullamcorper. Sed lectus quam, faucibus id pellentesque nec, suscipit at elit. </p>

    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi fermentum congue lectus, at imperdiet odio dictum sit amet. Sed non sem tempor, feugiat risus at, dignissim ipsum. Ut efficitur lacus non sem laoreet tincidunt. Proin porttitor placerat massa, eu varius libero elementum ac. Donec a ligula ullamcorper, pulvinar leo vel, vestibulum magna. Aliquam et tempus tortor. Nulla leo nulla, porta in tortor in, pellentesque pellentesque nisi. Cras sed finibus felis. Nulla purus turpis, lobortis at viverra id, egestas eu tortor. Sed congue quis metus at suscipit. Nunc eros nibh, tempor sed facilisis at, tincidunt dictum turpis. Quisque quis dui eget eros suscipit semper. Ut tincidunt in eros id rhoncus. Aenean at porttitor sapien, et fermentum magna. Nunc ut commodo elit. </p>

    <div class="mask hide" data-mask>
        <div class="mask-message" data-mask-message>This message is defined in the source.</div>
    </div>
</div>

<script>
    $(function() {
        $('#content').mask({
            selector: '#mask-content'
        });

        $('body').mask({
            revealOnClick: true,
            selector: '#mask-document',
            messageContent: 'This message is defined through options.'
        });
    });
</script>
