.transition.slide-collapse {
    position: relative;
    transition: all .3s ease-in-out;

    &.slide-collapse--vertical {
        overflow-y: hidden;
        max-height: 0;

        &.is-expanded {
            max-height: 100%;
        }
    }

    &.slide-collapse--horizontal {
        overflow-x: hidden;
        max-width: 0;

        &.is-expanded {
            max-width: 100%;
        }
    }
}
