{
  "root": true,
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "globals": {
    "Toolkit": true
  },
  "rules": {
    "padded-blocks": 0,
    "no-lonely-if": 0,
    "no-param-reassign": 0,
    "class-methods-use-this": 0,
    "react/require-default-props": 0,
    "react/jsx-filename-extension": 0,
  }
}
