{
  "root": true,
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "Toolkit": true,
    "processInThread": true
  },
  "rules": {
    "padded-blocks": 0,
    "no-lonely-if": 0,
    "no-param-reassign": 0,
    "class-methods-use-this": 0,
    "react/sort-comp": [2, {
      "order": [
        "type-annotations",
        "contextTypes",
        "childContextTypes",
        "propTypes",
        "defaultProps",
        "state",
        "uid",
        "constructor",
        "getChildContext",
        "componentWillMount",
        "componentDidMount",
        "componentWillReceiveProps",
        "shouldComponentUpdate",
        "componentWillUpdate",
        "componentDidUpdate",
        "componentWillUnmount",
        "everything-else",
        "render",
      ],
    }],
    "react/jsx-filename-extension": 0,
  }
}
