<div class="grid demo--grid">
    <div class="col span-4">4</div>
    <div class="col span-4 push-4">4, push-4</div>
</div>

<div class="grid demo--grid">
    <div class="col span-6">6</div>
    <div class="col span-1 pull-1">1, pull-1</div>
</div>

<div class="grid demo--grid">
    <div class="col span-3">3</div>
    <div class="col span-8 push-1">8, push-1</div>
</div>

<div class="grid demo--grid">
    <div class="col span-9 push-3">9, push-3 (first)</div>
    <div class="col span-3 pull-9">3, pull-9 (second)</div>
</div>

<div class="grid demo--grid">
    <div class="col span-6 push-3">6, push-3</div>
</div>
