<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Titon Toolkit - Grid</title>
    <link href="../../css/toolkit.css" rel="stylesheet">
    <link href="../../css/demo.css" rel="stylesheet">
    <script src="../../js/jquery-2.0.3.js"></script>
    <script src="../../js/toolkit.js"></script>
</head>
<body>

<div class="grid demo-grid">
    <div class="col desktop-3 tablet-2 mobile-1">
        Desktop: 25%<br>
        Tablet: 33%<br>
        Mobile: 33%
    </div>

    <div class="col desktop-6 tablet-4 mobile-1">
        Desktop: 50%<br>
        Tablet: 66%<br>
        Mobile: 33%
    </div>

    <div class="col desktop-3 hide-tablet mobile-1">
        Desktop: 25%<br>
        Tablet: hidden<br>
        Mobile: 33%
    </div>
</div>

</body>
</html>