<div class="grid demo--grid">
    <div class="col large-4 medium-3 small-6 xsmall-1">
        Large: 33.3%<br>
        Medium: 25%<br>
        Small: 50%<br>
        Extra Small: 16.6%
    </div>

    <div class="col large-4 medium-6 small-6 xsmall-1">
        Large: 33.3%<br>
        Medium: 50%<br>
        Small: 50%<br>
        Extra Small: 16.6%
    </div>

    <div class="col large-4 medium-3 hide-small xsmall-4">
        Large: 33.3%<br>
        Medium: 25%<br>
        Small: hidden<br>
        Extra Small: 66.6%
    </div>
</div>
