<div class="carousel" data-carousel>
    <div class="carousel-items">
        <ul data-carousel-items>
            <li><img src="http://placehold.it/1200x900/4c6278/ffffff&text=4:3" alt=""></li>
            <li><img src="http://placehold.it/1200x900/42586e/ffffff&text=4:3" alt=""></li>
            <li><img src="http://placehold.it/1200x900/344a5f/ffffff&text=4:3" alt=""></li>
            <li><img src="http://placehold.it/1200x900/293f54/ffffff&text=4:3" alt=""></li>
            <li><img src="http://placehold.it/1200x900/283442/ffffff&text=4:3" alt=""></li>
        </ul>
    </div>

    <div class="carousel-tabs">
        <ol class="bullets" data-carousel-tabs>
            <li><a href="javascript:;"></a></li>
            <li><a href="javascript:;"></a></li>
            <li><a href="javascript:;"></a></li>
            <li><a href="javascript:;"></a></li>
            <li><a href="javascript:;"></a></li>
        </ol>
    </div>

    <a href="javascript:;" class="carousel-prev" data-carousel-prev></a>
    <a href="javascript:;" class="carousel-next" data-carousel-next></a>
</div>

<script>
    $(function() {
        $('.carousel').carousel({
            animation: 'fade'
        });
    });
</script>