<div class="carousel carousel--wide">
    <div class="carousel-items">
        <ul>
            <li><img src="http://placehold.it/1600x900/4c6278/ffffff&text=16:9" alt=""></li>
            <li><img src="http://placehold.it/1600x900/42586e/ffffff&text=16:9" alt=""></li>
            <li><img src="http://placehold.it/1600x900/344a5f/ffffff&text=16:9" alt=""></li>
            <li><img src="http://placehold.it/1600x900/293f54/ffffff&text=16:9" alt=""></li>
            <li><img src="http://placehold.it/1600x900/283442/ffffff&text=16:9" alt=""></li>
        </ul>
    </div>

    <div class="carousel-tabs">
        <ol class="bullets">
            <li><a href="javascript:;"></a></li>
            <li><a href="javascript:;"></a></li>
            <li><a href="javascript:;"></a></li>
            <li><a href="javascript:;"></a></li>
            <li><a href="javascript:;"></a></li>
        </ol>
    </div>

    <a href="javascript:;" class="carousel-prev"><span class="arrow-left"></span></a>
    <a href="javascript:;" class="carousel-next"><span class="arrow-right"></span></a>
</div>

<script>
    $(function() {
        $('.carousel').carousel();
    });
</script>