<div class="region demo--flex">
    <aside class="block large-3 medium-3 medium-order-2 small-4 small-order-2 xsmall-order-3">
        Left Sidebar<br><br>
        Large: 25%<br>
        Medium: 25%, order 2<br>
        Small: 33.3%, order 2<br>
        Extra Small: collapsed, order 3
    </aside>

    <section class="block large-7 medium-6 medium-order-1 small-4 small-order-3 xsmall-order-1">
        Content<br><br>
        Large: 58.3%<br>
        Medium: 50%, order 1<br>
        Small: 33.3%, order 3<br>
        Extra Small: collapsed, order 1
    </section>

    <aside class="block large-2 medium-3 small-4 small-order-1 xsmall-order-2">
        Right Sidebar<br><br>
        Large: 16.6%<br>
        Medium: 25%<br>
        Small: 33.3%, order 1<br>
        Extra Small: collapsed, order 2
    </aside>
</div>
