<div class="region">
    <div class="block">
        <div class="region region--vertical demo--flex flow-top">
            <div class="block">1</div>
            <div class="block">2</div>
            <div class="block">3</div>
        </div>
    </div>

    <div class="block">
        <div class="region region--vertical demo--flex flow-center">
            <div class="block">1</div>
            <div class="block">2</div>
            <div class="block">3</div>
        </div>
    </div>

    <div class="block">
        <div class="region region--vertical demo--flex flow-bottom">
            <div class="block">1</div>
            <div class="block">2</div>
            <div class="block">3</div>
        </div>
    </div>

    <div class="block">
        <div class="region region--vertical demo--flex flow-between">
            <div class="block">1</div>
            <div class="block">2</div>
            <div class="block">3</div>
        </div>
    </div>

    <div class="block">
        <div class="region region--vertical demo--flex flow-around">
            <div class="block">1</div>
            <div class="block">2</div>
            <div class="block">3</div>
        </div>
    </div>
</div>
