<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Titon Toolkit - Matrix</title>
    <link href="../../css/toolkit.css" rel="stylesheet">
    <link href="../../css/demo.css" rel="stylesheet">
    <script src="../../js/jquery-2.0.3.js"></script>
    <script src="../../js/toolkit.js"></script>
</head>
<body>

<ul class="matrix">
    <li>
        <img src="http://placehold.it/250x150/4c6278/ffffff" alt="" class="fluid">

        <p>Oceanus was a pseudo-geographical feature in classical antiquity, believed by the ancient Greeks and
            Romans to be the divine personification of the World Ocean, an enormous river encircling the world.</p>
    </li>
    <li>
        <img src="http://placehold.it/250x200/42586e/ffffff" alt="" class="fluid">

        <p>Hyperion was one of the twelve Titan children of Gaia (Earth) and Uranus (Sky or Heaven) who,
            led by Cronus, overthrew Uranus and were themselves later overthrown by the Olympians.</p>
    </li>
    <li>
        <img src="http://placehold.it/250x400/344a5f/ffffff" alt="" class="fluid">

        <p>Coeus was one of the Titans, the giant sons and daughters of Uranus (Heaven) and Gaia (Earth).
            The etymology of Coeus' name provided several scholars the theory that Coeus was also the
            Titan god of intellect, who represented the inquisitive mind.</p>
    </li>
    <li>
        <img src="http://placehold.it/250x350/293f54/ffffff" alt="" class="fluid">

        <p>Cronus was the leader and the youngest of the first generation of Titans.
            He overthrew his father and ruled during the mythological Golden Age,
            until he was overthrown by his own son Zeus and imprisoned in Tartarus.</p>
    </li>
    <li>
        <img src="http://placehold.it/250x250/283442/ffffff" alt="" class="fluid">

        <p>Crius was one of the Titans in the list given in Hesiod's Theogony, a son of Uranus and Gaia.
            The least individualized among the Titans he was overthrown in the Titanomachy.</p>
    </li>
    <li>
        <img src="http://placehold.it/250x250/283442/ffffff" alt="" class="fluid">

        <p>Iapetus was a Titan, the son of Uranus and Gaia, and father of Atlas, Prometheus, Epimetheus, and Menoetius.</p>
    </li>
    <li>
        <img src="http://placehold.it/250x350/293f54/ffffff" alt="" class="fluid">

        <p>Mnemosyne, source of the word mnemonic, was the personification of memory in Greek mythology.
            A Titanide, or Titaness, she was the daughter of Gaia and Uranus and the mother of the nine Muses by Zeus.</p>
    </li>
    <li>
        <img src="http://placehold.it/250x150/4c6278/ffffff" alt="" class="fluid">

        <p>Tethys, daughter of Uranus and Gaia was an archaic Titaness and aquatic sea goddess,
            invoked in classical Greek poetry, but not venerated in cult. Tethys was both sister and wife of Oceanus.</p>
    </li>
    <li>
        <img src="http://placehold.it/250x200/42586e/ffffff" alt="" class="fluid">

        <p>Theia, also called Euryphaessa "wide-shining", is a Titaness.
            The name Theia alone means simply "goddess" or "divine".</p>
    </li>
    <li>
        <img src="http://placehold.it/250x400/344a5f/ffffff" alt="" class="fluid">

        <p>Phoebe, was one of the original Titans, who were one set of sons and daughters of Uranus and Gaia.
            She was traditionally associated with the moon.</p>
    </li>
    <li>
        <img src="http://placehold.it/250x350/293f54/ffffff" alt="" class="fluid">

        <p>Rhea is the Titaness daughter of the earth goddess Gaia and the sky god Uranus.
            In early traditions, she is known as "the mother of gods" and therefore is
            strongly associated with Gaia and Cybele, who have similar functions.</p>
    </li>
    <li>
        <img src="http://placehold.it/250x200/42586e/ffffff" alt="" class="fluid">

        <p>Themis is an ancient Greek Titaness. She is described as "of good counsel",
            and is the personification of divine order, law, natural law and custom.</p>
    </li>
</ul>

<script>
    $(function() {
        $('.matrix').matrix({
            width: 250
        });
    });
</script>

</body>
</html>