<button class="button" id="prepend">Prepend Item</button>
<button class="button" id="append">Append Item</button>
<button class="button" id="remove">Remove Item</button>

<hr class="demo-spacer">

<ul class="matrix">
    <li>
        <img src="http://placehold.it/250x150/4c6278/ffffff" alt="" class="fluid">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit, lacus quis tempus fermentum, risus magna blandit massa, vel cursus ante diam et mi. Maecenas porttitor feugiat sapien.</p>
    </li>
    <li>
        <img src="http://placehold.it/250x200/42586e/ffffff" alt="" class="fluid">

        <p>Vivamus ultricies placerat lacus eu consectetur. Sed nibh quam, mattis sed tincidunt aliquam, ornare vitae diam. Pellentesque eleifend sagittis ante, sed dignissim magna malesuada non. Etiam volutpat lacus quis augue rutrum, eget pharetra ante pulvinar.</p>
    </li>
    <li>
        <img src="http://placehold.it/250x400/344a5f/ffffff" alt="" class="fluid">

        <p>Phasellus viverra convallis ex sit amet convallis. Sed accumsan dignissim massa, eu volutpat tellus semper at. Quisque non lectus sit amet lectus consectetur tincidunt nec in sem.</p>
    </li>
    <li>
        <img src="http://placehold.it/250x350/293f54/ffffff" alt="" class="fluid">

        <p>Fusce lobortis blandit turpis, vel vestibulum nulla egestas vitae. Vivamus quis orci vitae odio elementum facilisis. Vestibulum suscipit quam in dictum ullamcorper. Sed lectus quam, faucibus id pellentesque nec, suscipit at elit. </p>
    </li>
    <li>
        <img src="http://placehold.it/250x250/283442/ffffff" alt="" class="fluid">

        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi fermentum congue lectus, at imperdiet odio dictum sit amet. Sed non sem tempor, feugiat risus at, dignissim ipsum. Ut efficitur lacus non sem laoreet tincidunt. </p>
    </li>
    <li>
        <img src="http://placehold.it/250x250/283442/ffffff" alt="" class="fluid">

        <p>Proin porttitor placerat massa, eu varius libero elementum ac. Donec a ligula ullamcorper, pulvinar leo vel, vestibulum magna.</p>
    </li>
    <li>
        <img src="http://placehold.it/250x350/293f54/ffffff" alt="" class="fluid">

        <p>Aliquam et tempus tortor. Nulla leo nulla, porta in tortor in, pellentesque pellentesque nisi. Cras sed finibus felis. Nulla purus turpis, lobortis at viverra id, egestas eu tortor. Sed congue quis metus at suscipit. Nunc eros nibh, tempor sed facilisis at, tincidunt dictum turpis.</p>
    </li>
    <li>
        <img src="http://placehold.it/250x150/4c6278/ffffff" alt="" class="fluid">

        <p>Quisque quis dui eget eros suscipit semper. Ut tincidunt in eros id rhoncus. Aenean at porttitor sapien, et fermentum magna. Nunc ut commodo elit. </p>
    </li>
    <li>
        <img src="http://placehold.it/250x200/42586e/ffffff" alt="" class="fluid">

        <p>Maecenas tincidunt erat ac quam interdum congue. Curabitur vel dui posuere, dapibus turpis et, tempus est. Sed eu felis dolor. Suspendisse nec turpis mauris. Pellentesque feugiat lobortis elit vitae luctus. Fusce sem ex, interdum et molestie nec, volutpat vel risus. </p>
    </li>
    <li>
        <img src="http://placehold.it/250x400/344a5f/ffffff" alt="" class="fluid">

        <p>Nam tempus tempor mi vel lobortis. Aliquam luctus a turpis id venenatis. Cras et dolor consequat turpis gravida convallis.</p>
    </li>
    <li>
        <img src="http://placehold.it/250x350/293f54/ffffff" alt="" class="fluid">

        <p>Donec sit amet turpis pharetra libero mattis mattis non vel felis. Aliquam rutrum vitae ante nec rutrum. Pellentesque fringilla vulputate mi, sed mollis sapien dignissim vitae.</p>
    </li>
    <li>
        <img src="http://placehold.it/250x200/42586e/ffffff" alt="" class="fluid">

        <p>Sed at mauris eu arcu blandit tempor. In commodo et turpis ac tincidunt. Donec vel nunc orci. Duis efficitur, mauris posuere ultricies venenatis, nulla nibh posuere tellus, at condimentum leo tellus a nisl. </p>
    </li>
</ul>

<script>
    $(function() {
        var matrix = $('.matrix').matrix({
            width: 250
        }).toolkit('matrix');

        function createItem(method, text) {
            var image = new Image();

            image.src = 'http://placehold.it/250x' + random(50, 500) + '/' + randomColor() + '/ffffff';
            image.className = 'fluid';
            image.alt = '';
            image.onload = function() {
                matrix[method](
                    $('<li/>')
                        .append(image)
                        .append(text)
                );
            };
        }

        function randomColor() {
            return ['4c6278', '42586e', '344a5f', '293f54', '283442'][random(0, 4)];
        }

        function random(min, max) {
            return Math.floor(Math.random() * (max - min + 1) + min);
        }

        $('#append').click(function() {
            createItem('append', 'This item has been appended.');
        });

        $('#prepend').click(function() {
            createItem('prepend', 'This item has been prepended.');
        });

        $('#remove').click(function() {
            var items = matrix.items;

            matrix.remove(items[random(0, items.length - 1)]);
        });
    });
</script>
