
//-------------------- Compass --------------------//

$experimental-support-for-mozilla: true !default;
$experimental-support-for-webkit: true !default;
$experimental-support-for-opera: false !default;
$experimental-support-for-microsoft: false !default;
$experimental-support-for-khtml: false !default;

$support-for-original-webkit-gradients: false !default;

//-------------------- Colors --------------------//

$gray-lightest: #fbfbfb !default;
$gray-light: #f8f8f8 !default;
$gray: #f5f5f5 !default;
$gray-dark: #e5e5e5 !default;
$gray-darkest: #c2c2c2 !default;

$background-color: #fff !default;
$foreground-color: #2d2d2d !default;

//-------------------- States --------------------//

$default: #929497 !default;
$default-light: #d0d2d3 !default;
$default-dark: #404041 !default;

$info: #45c5eb !default;
$info-light: #dbf1fa !default;
$info-dark: #4067ab !default;

$warning: #fcd04b !default;
$warning-light: #ffebb5 !default;
$warning-dark: #c87e00 !default;

$success: #97cb6f !default;
$success-light: #e7f2dd !default;
$success-dark: #226b36 !default;

$error: #f06060 !default;
$error-light: #fdc5c1 !default;
$error-dark: #b10e0e !default;

$disabled-opacity: .75 !default;

//-------------------- Border Styles --------------------//

$round: .2rem !default;

$pill: 2rem !default;

$oval-x: 7rem !default;
$oval-y: 2.75rem !default;

$skew-x: 1rem !default;
$skew-y: 3rem !default;
$skew: $skew-x $skew-y;
$skew-reverse: $skew-y $skew-x;

//-------------------- Misc --------------------//

$default-transition: .3s !default;