<ul class="demo--lazy-load">
    <li>
        <div class="demo-image lazy-load" style="background-image: url('http://placehold.it/200x200/4c6278/ffffff');">
        </div>

        <h3>Item 1</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit, lacus quis tempus fermentum, risus magna blandit massa, vel cursus ante diam et mi. Maecenas porttitor feugiat sapien. Vivamus ultricies placerat lacus eu consectetur. Sed nibh quam, mattis sed tincidunt aliquam, ornare vitae diam. Pellentesque eleifend sagittis ante, sed dignissim magna malesuada non.</p>

        <p>Etiam volutpat lacus quis augue rutrum, eget pharetra ante pulvinar. Phasellus viverra convallis ex sit amet convallis. Sed accumsan dignissim massa, eu volutpat tellus semper at. Quisque non lectus sit amet lectus consectetur tincidunt nec in sem. Fusce lobortis blandit turpis, vel vestibulum nulla egestas vitae. Vivamus quis orci vitae odio elementum facilisis. Vestibulum suscipit quam in dictum ullamcorper. Sed lectus quam, faucibus id pellentesque nec, suscipit at elit. </p>
    </li>

    <li>
        <div class="demo-image lazy-load" style="background-image: url('http://placehold.it/200x200/42586e/ffffff');">
        </div>

        <h3>Item 2</h3>

        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi fermentum congue lectus, at imperdiet odio dictum sit amet. Sed non sem tempor, feugiat risus at, dignissim ipsum. Ut efficitur lacus non sem laoreet tincidunt. Proin porttitor placerat massa, eu varius libero elementum ac. Donec a ligula ullamcorper, pulvinar leo vel, vestibulum magna. Aliquam et tempus tortor.</p>

        <p>Nulla leo nulla, porta in tortor in, pellentesque pellentesque nisi. Cras sed finibus felis. Nulla purus turpis, lobortis at viverra id, egestas eu tortor. Sed congue quis metus at suscipit. Nunc eros nibh, tempor sed facilisis at, tincidunt dictum turpis. Quisque quis dui eget eros suscipit semper. Ut tincidunt in eros id rhoncus. Aenean at porttitor sapien, et fermentum magna. Nunc ut commodo elit. </p>
    </li>

    <li>
        <div class="demo-image lazy-load" style="background-image: url('http://placehold.it/200x200/344a5f/ffffff');">
        </div>

        <h3>Item 3</h3>

        <p>Maecenas tincidunt erat ac quam interdum congue. Curabitur vel dui posuere, dapibus turpis et, tempus est. Sed eu felis dolor. Suspendisse nec turpis mauris. Pellentesque feugiat lobortis elit vitae luctus. Fusce sem ex, interdum et molestie nec, volutpat vel risus. Nam tempus tempor mi vel lobortis. Aliquam luctus a turpis id venenatis. Cras et dolor consequat turpis gravida convallis. Donec sit amet turpis pharetra libero mattis mattis non vel felis. Aliquam rutrum vitae ante nec rutrum. Pellentesque fringilla vulputate mi, sed mollis sapien dignissim vitae. Sed at mauris eu arcu blandit tempor. In commodo et turpis ac tincidunt. Donec vel nunc orci. Duis efficitur, mauris posuere ultricies venenatis, nulla nibh posuere tellus, at condimentum leo tellus a nisl. </p>
    </li>

    <li>
        <div class="demo-image lazy-load" style="background-image: url('http://placehold.it/200x200/293f54/ffffff');">
        </div>

        <h3>Item 4</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit, lacus quis tempus fermentum, risus magna blandit massa, vel cursus ante diam et mi. Maecenas porttitor feugiat sapien. Vivamus ultricies placerat lacus eu consectetur. Sed nibh quam, mattis sed tincidunt aliquam, ornare vitae diam. Pellentesque eleifend sagittis ante, sed dignissim magna malesuada non. Etiam volutpat lacus quis augue rutrum, eget pharetra ante pulvinar. Phasellus viverra convallis ex sit amet convallis. Sed accumsan dignissim massa, eu volutpat tellus semper at. Quisque non lectus sit amet lectus consectetur tincidunt nec in sem.</p>

        <p>Fusce lobortis blandit turpis, vel vestibulum nulla egestas vitae. Vivamus quis orci vitae odio elementum facilisis. Vestibulum suscipit quam in dictum ullamcorper. Sed lectus quam, faucibus id pellentesque nec, suscipit at elit. </p>
    </li>

    <li>
        <div class="demo-image lazy-load" style="background-image: url('http://placehold.it/200x200/283442/ffffff');">
        </div>

        <h3>Item 5</h3>

        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi fermentum congue lectus, at imperdiet odio dictum sit amet. Sed non sem tempor, feugiat risus at, dignissim ipsum. Ut efficitur lacus non sem laoreet tincidunt. </p>
    </li>
</ul>

<script>
    $(function() {
        $('.lazy-load').each(function() {
            $(this).attr('style', $(this).attr('style').replace("');", '?' + Date.now() + "');")); // Cache busting
        });

        $('.demo--lazy-load').lazyLoad();
    });
</script>
