@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

html { font: normal 16px/1.75rem "Helvetica Neue", Helvetica, Arial, sans-serif; }
body { padding: 0; }
html, body { height: 100%; }

@media only screen and (max-width: 480px) {
    html { font-size: 12px !important; }
}

a { color: #dd6195; text-decoration: none; }
a:hover { color: #b84374; }

.skeleton { min-height: 100%; }

.example { padding: 2rem; }
.example > *:first-child { margin-top: 0; }
.example img { max-width: 100%; }

.example-form { margin: 0; padding: 0; list-style: none; background: #283442; color: #ebe8dd; width: 100%; z-index: 550; }
.example-form li { display: inline-block; padding: 5px; }
.example-form input,
.example-form select { border: none; border-radius: 2px; padding: 3px; color: #000; }
.example-form input[type="text"] { width: 6rem; }
.example-form input[type="number"] { width: 3rem; }
.example-form button { color: #000; background: #fff; border: 0; padding: 3px 6px; border-radius: .2rem; line-height: normal; }

.example-header { background: #344a5f; color: #fff; font-size: 3rem; line-height: 2.8rem; padding: 2rem; margin: -2rem !important; margin-bottom: 2rem !important; }

.example-title { background: #344a5f; color: #fff; margin: 2rem -2rem; padding: 1rem 2rem; font-size: 1.5rem; }
.example-title:first-child { margin-top: -2rem; }

.example-center { text-align: center; padding: 100px 0; }

.intro { padding: 0 50px 50px 0; }

/*-------- Components --------*/

[class*="icon-16"] { background: url("../img/icons.png") no-repeat; }
.icon-16-1 { background-position: 0 0; }
.icon-16-2 { background-position: -16px 0; }
.icon-16-3 { background-position: -32px 0; }
.icon-16-4 { background-position: -48px 0; }
.icon-16-5 { background-position: -64px 0; }

.example-grid .col { background: #f8f8f8; border: 1px solid #e5e5e5; color: #000; padding: 5px; }

.example-lazy-load { width: 200px; height: 200px; margin: 10px auto; }

.example-responsive { width: 100%; }
.example-responsive td { padding: 10px; color: #fff; border: 5px solid #fff; }
.example-responsive td[class*="show"] { background: forestgreen; }
.example-responsive td[class*="hide"] { background: indianred; }

.matrix > li { margin: 0 20px 20px 0; background: #f8f8f8; border: 1px solid #e5e5e5; color: #000; padding: 5px; }
.matrix.no-columns > li { width: 100%; float: none; margin-right: 0; }

.example-pin { position: relative; margin-bottom: 600px; }
.example-pin.left { padding-left: 250px; }
.example-pin.right { padding-right: 250px; }
.example-pin .pin { background: #000; padding: 10px; position: absolute; top: 0; color: #fff; width: 200px; }
.example-pin.left .pin { left: 0; }
.example-pin.right .pin { right: 0; }

.carousel { max-width: 400px; margin: 0 auto; }
.carousel--wide { max-width: 640px; }
.carousel--square { max-width: 500px; }

.showcase.is-loading .showcase-inner { background-image: url("../img/loader.gif"); background-position: 50% 50%; background-repeat: no-repeat; }

.example-stalker { background: #f8f8f8; padding: 5px; height: 200px; overflow: auto; margin-top: 25px; }
#stalker-target { position: fixed; right: 20px; top: 60px; }
#stalker2-target { position: fixed; right: 20px; top: 120px; }

.mask .loader.bar-wave > span { background: #fff; }
.col.mask-target { border-radius: 10px; }

.on-canvas { background: #fff; }
.off-canvas--left,
.off-canvas--right { background: #000; color: #fff; }

.toasts.bottom-left,
.toasts.bottom-center,
.toasts.bottom-right {
    bottom: 50px;
}

.toast { background: #000; color: #fff; padding: 10px; }

@media only screen and (max-width: 640px) {
    .toasts { width: auto; left: 0 !important; right: 0 !important; }
}

.canvas,
.on-canvas { height: 100%; }