<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Titon Toolkit - Loader</title>
    <link href="../../css/toolkit.css" rel="stylesheet">
    <link href="../../css/demo.css" rel="stylesheet">
    <script src="../../js/jquery-2.0.3.js"></script>
    <script src="../../js/toolkit.js"></script>
</head>
<body>

<!-- Use grid for centering -->
<div class="grid">
    <div class="col span-4 align-center">

        <div class="loader bar-wave">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>

            <div class="loader-message">
                Loading...
            </div>
        </div>

    </div>

    <div class="col span-4 align-center">

        <div class="loader bubble-wave">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>

            <div class="loader-message">
                Reticulating splines...
            </div>
        </div>

    </div>

    <div class="col span-4 align-center">

        <div class="loader bubble-spinner">
            <div class="loader-spinner">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="loader-message">
                Siphoning mana...
            </div>
        </div>

    </div>
</div>

</body>
</html>