<!-- Use grid for centering -->
<div class="grid">
    <div class="col span-4 align-center">

        <div class="loader bar-wave">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>

            <div class="loader-message">
                Loading...
            </div>
        </div>

    </div>

    <div class="col span-4 align-center">

        <div class="loader bubble-wave">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>

            <div class="loader-message">
                Reticulating splines...
            </div>
        </div>

    </div>

    <div class="col span-4 align-center">

        <div class="loader bubble-spinner">
            <div class="loader-spinner">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="loader-message">
                Siphoning mana...
            </div>
        </div>

    </div>
</div>