
body {
	padding: 25px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

#wrapper { min-height: 100%; }

.test-switcher {
	background: #000;
	padding: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	border-top-right-radius: 3px;
}

.example {
	margin: 50px 0;
	position: relative;
	text-align: center;
}

.example > p:first-child {
	margin: 0 0 25px 0;
}

.example-header {
	font-size: 3rem;
	line-height: 100%;
	padding: 10px;
	color: #fff;
	border-radius: 3px;
	background: rgba(0, 0, 0, .75)
}

.example-title {
	font-size: 1.8rem;
	line-height: 100%;
	padding: 10px;
	margin-bottom: 25px;
	border-radius: 3px;
	background: rgba(0, 0, 0, .25)
}

.example .col {
	float: left;
	width: 30%;
	margin-right: 3%;
	text-align: center;
}

.row,
.alert,
.pagination { margin-bottom: 10px; }

.tabs {
	width: 600px;
	margin: 0 auto;
	margin-bottom: 15px;
	text-align: left;
}

[class*="icon-"] { background: url("../img/icons.png") no-repeat; }
.icon-16-1 { background-position: 0 0; }
.icon-16-2 { background-position: -16px 0; }
.icon-16-3 { background-position: -32px 0; }
.icon-16-4 { background-position: -48px 0; }
.icon-16-5 { background-position: -64px 0; }

.pin {
	background: #000;
	border-radius: 3px;
	width: 200px;
	color: #fff;
	padding: 15px;
}

.pin-right,
.pin-left {
	margin-bottom: 500px;
}

.pin-right p {
	text-align: left;
	margin-right: 250px;
}

.pin-left p {
	text-align: left;
	margin-left: 250px;
}

.pin-left .pin { float: left; }
.pin-right .pin { float: right; }

.lazy-load { width: 200px; height: 200px; }
.lazy-load-0,
.lazy-load-1,
.lazy-load-2 { background-image: none !important; }

.type-ahead-shadow {
	text-align: left;
	width: 200px;
	height: 30px;
	margin: 0 auto;
}

.grid-test div[class*="col-"] {
	background: #f8f8f8;
	border: 1px solid #e5e5e5;
	color: #000;
}