<table class="table">
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
            <th>Column 4</th>
            <th>Column 5</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-divider">
            <td colspan="5">Divider 1</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td>Curabitur metus quam</td>
            <td>viverra a cursus non</td>
            <td>eleifend id lacus</td>
        </tr>
        <tr>
            <td>Vestibulum mattis felis non purus tempus viverra</td>
            <td>In blandit fermentum lacus</td>
            <td>nec feugiat neque egestas at</td>
            <td>Vestibulum ut lacinia enim</td>
            <td>Fusce vitae pharetra urna</td>
        </tr>
        <tr>
            <td>Sed interdum massa lectus</td>
            <td>in pharetra diam dapibus ac</td>
            <td>Suspendisse sit amet turpis et neque lacinia vehicula rhoncus non mauris</td>
            <td>Cum sociis natoque penatibus et magnis dis parturient montes</td>
            <td>nascetur ridiculus mus</td>
        </tr>
        <tr>
            <td>Etiam vestibulum varius ligula id venenatis</td>
            <td>Maecenas ac auctor libero</td>
            <td>Vestibulum ante ipsum primis in faucibus orci luctus</td>
            <td>et ultrices posuere cubilia Curae</td>
            <td>Proin dapibus mauris sed nulla ullamcorper</td>
        </tr>
        <tr>
            <td>in pellentesque purus dignissim</td>
            <td>Fusce nec nisl elit</td>
            <td>Maecenas sit amet tellus iaculis lorem porta hendrerit</td>
            <td>Donec nec iaculis metus</td>
            <td>Suspendisse placerat augue vel eleifend pretium</td>
        </tr>
        <tr>
            <td>Vivamus cursus nisi non ipsum tempus vehicula</td>
            <td>Curabitur id blandit augue</td>
            <td>Proin sit amet ipsum suscipit lectus eleifend blandit interdum eget diam</td>
            <td>Praesent non ex a ex ultrices bibendum sit amet ac ante</td>
            <td>Sed egestas euismod ornare</td>
        </tr>
        <tr>
            <td>Nulla facilisi</td>
            <td>Mauris placerat mauris eu nulla dignissim laoreet nec ac velit</td>
            <td>Pellentesque sit amet libero et nisi iaculis iaculis eget a velit</td>
            <td>Donec rutrum, risus eget consectetur tristique</td>
            <td>tortor ligula ullamcorper leo</td>
        </tr>
        <tr>
            <td>sed imperdiet nibh ligula eu magna</td>
            <td>Quisque ut feugiat libero</td>
            <td>Aenean quis eleifend dolor</td>
            <td>a maximus justo</td>
            <td>Duis nulla quam, congue eu pharetra at</td>
        </tr>
        <tr>
            <td>porta a est</td>
            <td>Quisque hendrerit, sapien eget fermentum efficitur</td>
            <td>enim massa ultrices purus</td>
            <td>viverra sodales metus mi vitae purus</td>
            <td>Proin elit ipsum, blandit a lacus eu</td>
        </tr>
        <tr>
            <td>tristique accumsan ligula</td>
            <td>Aenean id purus ac tortor rhoncus efficitur</td>
            <td>Praesent vitae volutpat justo</td>
            <td>Phasellus dignissim erat vitae nibh mattis</td>
            <td>a posuere erat fermentum</td>
        </tr>
        <tr>
            <td>Phasellus ipsum urna, consectetur vel urna vel</td>
            <td>dictum volutpat nunc</td>
            <td>Donec scelerisque sed erat sed posuere</td>
            <td>Nulla a porttitor nisl</td>
            <td>In posuere egestas tellus ac dictum</td>
        </tr>
        <tr>
            <td>In hac habitasse platea dictumst</td>
            <td>Ut erat ex, consectetur a ante et</td>
            <td>volutpat congue tellus</td>
            <td>Morbi consectetur tellus lacus</td>
            <td>at tincidunt quam pellentesque vitae</td>
        </tr>
        <tr class="table-divider">
            <td colspan="5">Divider 2</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet</td>
            <td>consectetur adipiscing elit</td>
            <td>Curabitur metus quam</td>
            <td>viverra a cursus non</td>
            <td>eleifend id lacus</td>
        </tr>
        <tr>
            <td>Vestibulum mattis felis non purus tempus viverra</td>
            <td>In blandit fermentum lacus</td>
            <td>nec feugiat neque egestas at</td>
            <td>Vestibulum ut lacinia enim</td>
            <td>Fusce vitae pharetra urna</td>
        </tr>
        <tr>
            <td>Sed interdum massa lectus</td>
            <td>in pharetra diam dapibus ac</td>
            <td>Suspendisse sit amet turpis et neque lacinia vehicula rhoncus non mauris</td>
            <td>Cum sociis natoque penatibus et magnis dis parturient montes</td>
            <td>nascetur ridiculus mus</td>
        </tr>
        <tr>
            <td>Etiam vestibulum varius ligula id venenatis</td>
            <td>Maecenas ac auctor libero</td>
            <td>Vestibulum ante ipsum primis in faucibus orci luctus</td>
            <td>et ultrices posuere cubilia Curae</td>
            <td>Proin dapibus mauris sed nulla ullamcorper</td>
        </tr>
        <tr>
            <td>in pellentesque purus dignissim</td>
            <td>Fusce nec nisl elit</td>
            <td>Maecenas sit amet tellus iaculis lorem porta hendrerit</td>
            <td>Donec nec iaculis metus</td>
            <td>Suspendisse placerat augue vel eleifend pretium</td>
        </tr>
        <tr>
            <td>Vivamus cursus nisi non ipsum tempus vehicula</td>
            <td>Curabitur id blandit augue</td>
            <td>Proin sit amet ipsum suscipit lectus eleifend blandit interdum eget diam</td>
            <td>Praesent non ex a ex ultrices bibendum sit amet ac ante</td>
            <td>Sed egestas euismod ornare</td>
        </tr>
        <tr>
            <td>Nulla facilisi</td>
            <td>Mauris placerat mauris eu nulla dignissim laoreet nec ac velit</td>
            <td>Pellentesque sit amet libero et nisi iaculis iaculis eget a velit</td>
            <td>Donec rutrum, risus eget consectetur tristique</td>
            <td>tortor ligula ullamcorper leo</td>
        </tr>
        <tr>
            <td>sed imperdiet nibh ligula eu magna</td>
            <td>Quisque ut feugiat libero</td>
            <td>Aenean quis eleifend dolor</td>
            <td>a maximus justo</td>
            <td>Duis nulla quam, congue eu pharetra at</td>
        </tr>
        <tr>
            <td>porta a est</td>
            <td>Quisque hendrerit, sapien eget fermentum efficitur</td>
            <td>enim massa ultrices purus</td>
            <td>viverra sodales metus mi vitae purus</td>
            <td>Proin elit ipsum, blandit a lacus eu</td>
        </tr>
        <tr>
            <td>tristique accumsan ligula</td>
            <td>Aenean id purus ac tortor rhoncus efficitur</td>
            <td>Praesent vitae volutpat justo</td>
            <td>Phasellus dignissim erat vitae nibh mattis</td>
            <td>a posuere erat fermentum</td>
        </tr>
        <tr>
            <td>Phasellus ipsum urna, consectetur vel urna vel</td>
            <td>dictum volutpat nunc</td>
            <td>Donec scelerisque sed erat sed posuere</td>
            <td>Nulla a porttitor nisl</td>
            <td>In posuere egestas tellus ac dictum</td>
        </tr>
        <tr>
            <td>In hac habitasse platea dictumst</td>
            <td>Ut erat ex, consectetur a ante et</td>
            <td>volutpat congue tellus</td>
            <td>Morbi consectetur tellus lacus</td>
            <td>at tincidunt quam pellentesque vitae</td>
        </tr>
    </tbody>
</table>
