<table class="table is-sortable">
    <thead>
        <tr>
            <th>
                <a href="">
                    Deity
                    <span class="sorter asc">
                        <span class="caret-up"></span>
                        <span class="caret-down"></span>
                    </span>
                </a>
            </th>
            <th>
                <a href="">
                    Domain
                    <span class="sorter asc">
                        <span class="caret-up"></span>
                        <span class="caret-down"></span>
                    </span>
                </a>
            </th>
            <th>
                <a href="">
                    Spouse
                    <span class="sorter asc">
                        <span class="caret-up"></span>
                        <span class="caret-down"></span>
                    </span>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-divider">
            <td colspan="4">Titans</td>
        </tr>
        <tr>
            <td>Cronus</td>
            <td>King of the Titans</td>
            <td>Rhea</td>
        </tr>
        <tr>
            <td>Rhea</td>
            <td>Titaness of Fertility</td>
            <td>Cronus</td>
        </tr>
        <tr>
            <td>Oceanus</td>
            <td>Titan of the Earth-river</td>
            <td>Tethys</td>
        </tr>
        <tr>
            <td>Tethys</td>
            <td>Titaness of Water</td>
            <td>Oceanus</td>
        </tr>
        <tr>
            <td>Hyperion</td>
            <td>Titan of Light</td>
            <td>Theia</td>
        </tr>
        <tr>
            <td>Theia</td>
            <td>Titaness of Sight</td>
            <td>Hyperion</td>
        </tr>
        <tr>
            <td>Coeus</td>
            <td>Titan of Intelligence</td>
            <td>Phoebe</td>
        </tr>
        <tr>
            <td>Phoebe</td>
            <td>Titaness of the Moon</td>
            <td>Coeus</td>
        </tr>
        <tr>
            <td>Mnemosyne</td>
            <td>Titaness of Memory</td>
            <td></td>
        </tr>
        <tr>
            <td>Themis</td>
            <td>Titaness of Justice</td>
            <td></td>
        </tr>
        <tr>
            <td>Crius</td>
            <td>Titan of the Heavens</td>
            <td></td>
        </tr>
        <tr>
            <td>Iapetus</td>
            <td>Titan of Mortality</td>
            <td></td>
        </tr>
        <tr class="table-divider">
            <td colspan="4">Olympians</td>
        </tr>
        <tr>
            <td>Zeus</td>
            <td>God of the Sky</td>
            <td>Hera</td>
        </tr>
        <tr>
            <td>Hera</td>
            <td>Goddess of Women</td>
            <td>Zeus</td>
        </tr>
        <tr>
            <td>Poseidon</td>
            <td>God of the Sea</td>
            <td>Amphitrite</td>
        </tr>
        <tr>
            <td>Demeter</td>
            <td>Goddess of Agriculture</td>
            <td></td>
        </tr>
        <tr>
            <td>Athena</td>
            <td>Goddess of Wisdom</td>
            <td></td>
        </tr>
        <tr>
            <td>Apollo</td>
            <td>God of Music and Art</td>
            <td></td>
        </tr>
        <tr>
            <td>Artemis</td>
            <td>Goddess of the Hunt</td>
            <td></td>
        </tr>
        <tr>
            <td>Ares</td>
            <td>God of War</td>
            <td>Aphrodite</td>
        </tr>
        <tr>
            <td>Aphrodite</td>
            <td>Goddess of Love</td>
            <td>Ares</td>
        </tr>
        <tr>
            <td>Hephaestus</td>
            <td>God of the Forge</td>
            <td></td>
        </tr>
        <tr>
            <td>Hermes</td>
            <td>God of Trade</td>
            <td></td>
        </tr>
        <tr>
            <td>Hestia</td>
            <td>Goddess of the Hearth</td>
            <td></td>
        </tr>
        <tr>
            <td>Dionysus</td>
            <td>God of Wine</td>
            <td></td>
        </tr>
    </tbody>
</table>