<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Titon Toolkit - Button Group</title>
    <link href="../../css/toolkit.css" rel="stylesheet">
    <link href="../../css/demo.css" rel="stylesheet">
    <script src="../../js/jquery-2.0.3.js"></script>
    <script src="../../js/toolkit.js"></script>
</head>
<body>

<div class="button-group button-group--justified" role="toolbar" aria-label="Justified Toolbar">
    <a href="" class="button" role="button">Left Button</a>
    <a href="" class="button" role="button">Middle Button</a>
    <a href="" class="button" role="button">Middle Button</a>
    <a href="" class="button" role="button">Right Button</a>
</div>

</body>
</html>