<div class="button-group large" role="toolbar" aria-label="Toolbar">
    <button type="button" class="button" role="button">Left Button</button>
    <button type="button" class="button" role="button">Middle Button</button>
    <button type="button" class="button" role="button">Right Button</button>
</div>

<hr class="demo-spacer">

<div class="button-group" role="toolbar" aria-label="Toolbar">
    <button type="button" class="button" role="button">Left Button</button>
    <button type="button" class="button" role="button">Middle Button</button>
    <button type="button" class="button" role="button">Right Button</button>
</div>

<hr class="demo-spacer">

<div class="button-group small" role="toolbar" aria-label="Toolbar">
    <button type="button" class="button" role="button">Left Button</button>
    <button type="button" class="button" role="button">Middle Button</button>
    <button type="button" class="button" role="button">Right Button</button>
</div>