<div class="button-group button-group--vertical" role="toolbar" aria-label="Vertical Toolbar" aria-orientation="vertical">
    <button type="button" class="button" role="button">Top Button</button>
    <button type="button" class="button" role="button">Center Button</button>
    <button type="button" class="button" role="button">Bottom Button</button>
</div>

<hr class="demo-spacer">

<div class="button-group button-group--vertical round" role="toolbar" aria-label="Vertical Toolbar" aria-orientation="vertical">
    <button type="button" class="button" role="button">Top Button</button>
    <button type="button" class="button" role="button">Center Button</button>
    <button type="button" class="button" role="button">Bottom Button</button>
</div>

<hr class="demo-spacer">

<div class="button-group button-group--vertical pill" role="toolbar" aria-label="Vertical Toolbar" aria-orientation="vertical">
    <button type="button" class="button" role="button">Top Button</button>
    <button type="button" class="button" role="button">Center Button</button>
    <button type="button" class="button" role="button">Bottom Button</button>
</div>

<hr class="demo-spacer">

<div class="button-group button-group--vertical skew" role="toolbar" aria-label="Vertical Toolbar" aria-orientation="vertical">
    <button type="button" class="button" role="button">Top Button</button>
    <button type="button" class="button" role="button">Center Button</button>
    <button type="button" class="button" role="button">Bottom Button</button>
</div>

<hr class="demo-spacer">

<div class="button-group button-group--vertical skew-reverse" role="toolbar" aria-label="Vertical Toolbar" aria-orientation="vertical">
    <button type="button" class="button" role="button">Top Button</button>
    <button type="button" class="button" role="button">Center Button</button>
    <button type="button" class="button" role="button">Bottom Button</button>
</div>