<form action="" method="get" id="form">
    <div class="field">
        <label class="field-label" for="cost">Cost</label>
        <div class="input-group">
            <div class="input-addon">$</div>
            <input id="cost" type="number" class="input" name="cost">
        </div>
    </div>

    <div class="field">
        <label class="field-label" for="percent">Percentage</label>
        <div class="input-group">
            <input id="percent" type="number" class="input" name="percent">
            <div class="input-addon">%</div>
        </div>
    </div>

    <div class="field">
        <label class="field-label" for="width">Dimensions</label>
        <div class="input-group">
            <input id="width" type="number" class="input" name="width">
            <div class="input-addon">x</div>
            <input id="height" type="number" class="input" name="height">
        </div>
    </div>
</form>