<form action="" method="get" id="form">
    <div class="field">
        <label class="field-label" for="value">Search</label>
        <div class="input-group">
            <input id="value" type="text" class="input" name="value">

            <div class="button-group">
                <button type="button" class="button" data-drop="#types">Type</button>

                <ul class="drop drop--down" id="types">
                    <li><a href="">Post</a></li>
                    <li><a href="">Topic</a></li>
                    <li><a href="">Article</a></li>
                    <li><a href="">Item</a></li>
                </ul>
            </div>
        </div>
    </div>
</form>

<script>
    $(function() {
        $('[data-drop]').drop();
    });
</script>