<form action="" method="get" id="form">
    <div class="field">
        <label class="field-label" for="url1">URL</label>
        <div class="input-group large">
            <div class="input-addon">http://</div>
            <input id="url1" type="text" class="input" name="url">
        </div>
    </div>

    <div class="field">
        <label class="field-label" for="url2">URL</label>
        <div class="input-group">
            <div class="input-addon">http://</div>
            <input id="url2" type="text" class="input" name="url">
        </div>
    </div>

    <div class="field">
        <label class="field-label" for="url3">URL</label>
        <div class="input-group small">
            <div class="input-addon">http://</div>
            <input id="url3" type="text" class="input" name="url">
        </div>
    </div>
</form>