<form action="ajax/data.json" method="post">
    <div class="modal-head">
        <h4>JSON Handling</h4>
    </div>

    <div class="modal-body">
        <p>When a modal form submission returns a JSON response, the modal will close automatically and handle the JSON accordingly. If the JSON response has a <code>callback</code> property defined, the callback will be immediately executed.</p>

        <p>Inspect the develop console and give it a try!</p>
    </div>

    <div class="modal-foot">
        <button type="button" class="button" data-modal-submit>Submit</button>
        <button type="button" class="button" data-modal-close>Close</button>
    </div>
</form>
