<nav class="pagination pagination--grouped" role="navigation" aria-label="Paged Navigation">
    <ol>
        <li><a href="" class="button">&laquo;</a></li>
        <li><a href="" class="button">1</a></li>
        <li><a href="" class="button">2</a></li>
        <li><a href="" class="button">3</a></li>
        <li><a href="" class="button">4</a></li>
        <li><a href="" class="button">5</a></li>
        <li><a href="" class="button">&raquo;</a></li>
    </ol>
</nav>

<nav class="pagination pagination--grouped round" role="navigation" aria-label="Paged Navigation">
    <ol>
        <li><a href="" class="button">&laquo;</a></li>
        <li><a href="" class="button">1</a></li>
        <li><a href="" class="button">2</a></li>
        <li><a href="" class="button">3</a></li>
        <li><a href="" class="button">4</a></li>
        <li><a href="" class="button">5</a></li>
        <li><a href="" class="button">&raquo;</a></li>
    </ol>
</nav>

<nav class="pagination pagination--grouped pill" role="navigation" aria-label="Paged Navigation">
    <ol>
        <li><a href="" class="button">&laquo;</a></li>
        <li><a href="" class="button">1</a></li>
        <li><a href="" class="button">2</a></li>
        <li><a href="" class="button">3</a></li>
        <li><a href="" class="button">4</a></li>
        <li><a href="" class="button">5</a></li>
        <li><a href="" class="button">&raquo;</a></li>
    </ol>
</nav>

<nav class="pagination pagination--grouped oval" role="navigation" aria-label="Paged Navigation">
    <ol>
        <li><a href="" class="button">&laquo;</a></li>
        <li><a href="" class="button">1</a></li>
        <li><a href="" class="button">2</a></li>
        <li><a href="" class="button">3</a></li>
        <li><a href="" class="button">4</a></li>
        <li><a href="" class="button">5</a></li>
        <li><a href="" class="button">&raquo;</a></li>
    </ol>
</nav>

<nav class="pagination pagination--grouped skew" role="navigation" aria-label="Paged Navigation">
    <ol>
        <li><a href="" class="button">&laquo;</a></li>
        <li><a href="" class="button">1</a></li>
        <li><a href="" class="button">2</a></li>
        <li><a href="" class="button">3</a></li>
        <li><a href="" class="button">4</a></li>
        <li><a href="" class="button">5</a></li>
        <li><a href="" class="button">&raquo;</a></li>
    </ol>
</nav>