<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Titon Toolkit - Drop</title>
    <link href="../../css/toolkit.css" rel="stylesheet">
    <link href="../../css/demo.css" rel="stylesheet">
    <script src="../../js/jquery-2.0.3.js"></script>
    <script src="../../js/toolkit.js"></script>
</head>
<body>

<div class="vertical-center">

    <div class="button-group">
        <button type="button" class="button js-drop" data-drop="#drop-1" aria-controls="drop-1" aria-haspopup="true">
            Navigate
            <span class="caret-down"></span>
        </button>

        <ul class="drop drop--up" id="drop-1" role="menu">
            <li><a href="" role="menuitem">Back</a></li>
            <li><a href="" role="menuitem">Forward</a></li>
            <li><a href="" role="menuitem">Reload</a></li>
            <li class="drop-divider" role="separator"></li>
            <li class="has-children" aria-haspopup="true">
                <a href="" role="menuitem">
                    <span class="caret-right"></span>
                    Find
                </a>

                <ul class="drop drop--down" role="menu">
                    <li><a href="" role="menuitem">Find Current</a></li>
                    <li><a href="" role="menuitem">Find Next</a></li>
                    <li><a href="" role="menuitem">Find Previous</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="button-group">
        <button type="button" class="button js-drop" data-drop="#drop-2" aria-controls="drop-2" aria-haspopup="true">
            Actions
            <span class="caret-down"></span>
        </button>

        <ul class="drop drop--up reverse-align" id="drop-2" role="menu">
            <li class="drop-heading">Edit</li>
            <li><a href="" role="menuitem">Cut</a></li>
            <li><a href="" role="menuitem">Copy</a></li>
            <li><a href="" role="menuitem">Paste</a></li>
            <li class="drop-heading">View</li>
            <li><a href="" role="menuitem">Zoom In</a></li>
            <li><a href="" role="menuitem">Zoom Out</a></li>
        </ul>
    </div>

</div>

<script>
    $(function() {
        $('.js-drop').drop({
            hideOpened: false
        });
    });
</script>

</body>
</html>