$toolkit-temp-button-class: map-get($toolkit-button, "class");

/**
 * Target the first button within a button group.
 */
@mixin button-group-first-child {
    > li:first-child #{$toolkit-temp-button-class},
    > #{$toolkit-temp-button-class}:first-child {
        @content;
    }
}

/**
 * Target the last button within a button group.
 */
@mixin button-group-last-child {
    > li:last-child #{$toolkit-temp-button-class},
    > #{$toolkit-temp-button-class}:last-child {
        @content;
    }
}

/**
 * Generate show/hide display classes for a specific class.
 *
 * @param string $class
 */
@mixin responsive-display-block($class) {
    #{$class} { display: block !important; }
    table#{$class} { display: table !important; }
    tr#{$class} { display: table-row !important; }
    td#{$class},
    th#{$class} { display: table-cell !important; }
    li#{$class} { display: list-item !important; }
}
