/**
 * Compile a component into the final output only once.
 * Also check to see if it has been excluded from the output all together.
 *
 * @param string $module
 */
@mixin export($module) {
    // Module is excluded, so do nothing
    @if (index(map-get($toolkit, "excluded-modules"), $module) != null) {

    // Module hasn't been exported yet, so export it and log usage
    } @else if (index($toolkit-internal-modules-exported, $module) == null) {
        $toolkit-internal-modules-exported: append($toolkit-internal-modules-exported, $module) !global;

        @content;
    }
}

/**
 * Clear all floats within the container.
 */
@mixin clear-fix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Reset an inline-block element to defaults.
 */
@mixin reset-inline-block {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

/**
 * Reset a list and remove default styles.
 */
@mixin reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/**
 * Position an element to take up the whole screen.
 *
 * @param string [$fixed]
 */
@mixin full-screen($position: fixed) {
    @if ($position != "") {
        position: $position;
    }
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/**
 * Align an element in the center of another element using position absolute.
 */
@mixin position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/**
 * Render small font sizes and padding.
 */
@mixin size-small {
    font-size: map-get($toolkit-settings-theme, "small-font-size");
    padding: map-get($toolkit-settings-theme, "small-padding");
}

/**
 * Render medium font sizes and padding (default size).
 */
@mixin size-medium {
    font-size: map-get($toolkit-settings-theme, "medium-font-size");
    padding: map-get($toolkit-settings-theme, "medium-padding");
}

/**
 * Render large font sizes and padding.
 */
@mixin size-large {
    font-size: map-get($toolkit-settings-theme, "large-font-size");
    padding: map-get($toolkit-settings-theme, "large-padding");
}

/**
 * Generate a self selector or parent selector for assigning size classes

 * @param bool [$self] - Apply to self
 * @param bool [$parent] - Apply to parent
 */
@mixin is-size($size, $self: true, $parent: false) {
    $selectors: ();

    @if $self {
        $selectors: append($selectors, unquote("&" + $size), "comma");
    }

    @if $parent {
        $selectors: append($selectors, unquote($size + " &"), "comma");
    }

    #{$selectors} {
        @content;
    }
}

/**
 * Include content for the small size if enabled in the feature flags.
 *
 * @param bool [$self] - Apply to self
 * @param bool [$parent] - Apply to parent
 */
@mixin is-size-small($self: true, $parent: false) {
    @if map-get($toolkit-settings-flags, "small-size") {
        @include is-size(map-get($toolkit-global, "size-small-class"), $self, $parent) {
            @content;
        }
    }
}

/**
 * Include content for the large size if enabled in the feature flags.
 *
 * @param bool [$self] - Apply to self
 * @param bool [$parent] - Apply to parent
 */
@mixin is-size-large($self: true, $parent: false) {
    @if map-get($toolkit-settings-flags, "large-size") {
        @include is-size(map-get($toolkit-global, "size-large-class"), $self, $parent) {
            @content;
        }
    }
}

/**
 * Include content for LTR elements.
 */
@mixin ltr() {
    &[dir="ltr"] {
        @content;
    }
}

/**
 * Include content for RTL elements.
 */
@mixin rtl() {
    &[dir="rtl"] {
        @content;
    }
}
