<button type="button" role="button" class="button js-tooltip" data-tooltip-animation="fade" data-tooltip="Will fade in.">Fade</button>
<button type="button" role="button" class="button js-tooltip" data-tooltip-animation="from-above" data-tooltip="Will drop in from above.">From Above</button>
<button type="button" role="button" class="button js-tooltip" data-tooltip-animation="from-below" data-tooltip="Will drop in from below.">From Below</button>
<button type="button" role="button" class="button js-tooltip" data-tooltip-animation="flip-rotate" data-tooltip="Will flip rotate into place.">Flip Rotate</button>

<script>
    $(function() {
        $('.js-tooltip').tooltip();
    });
</script>
