<button type="button" role="button" class="button js-tooltip" title="AJAX" data-tooltip="ajax/data.html">Load with AJAX</button>

<button type="button" role="button" class="button js-tooltip" title="DOM" data-tooltip="#dom">Load from DOM</button>

<button type="button" role="button" class="button js-tooltip" title="Attributes" data-tooltip="This content is loaded from an HTML attribute.">Load from attribute</button>

<div id="dom" style="display: none">This content is loaded from a hidden DOM element.</div>

<script>
    $(function() {
        $('.js-tooltip').tooltip();
    });
</script>
