<button type="button" role="button" class="button js-tooltip" data-tooltip="The tooltip will position at the bottom right." data-tooltip-position="bottom-right">Bottom Right</button>
<button type="button" role="button" class="button js-tooltip" data-tooltip="The tooltip will position at the bottom center." data-tooltip-position="bottom-center">Bottom Center</button>
<button type="button" role="button" class="button js-tooltip" data-tooltip="The tooltip will position at the bottom left." data-tooltip-position="bottom-left">Bottom Left</button>

<br><br>

<button type="button" role="button" class="button js-tooltip" data-tooltip="The tooltip will position on the right." data-tooltip-position="center-right">Center Right</button>
<button type="button" role="button" class="button js-tooltip" data-tooltip="The tooltip will position on the left." data-tooltip-position="center-left">Center Left</button>

<br><br>

<button type="button" role="button" class="button js-tooltip" data-tooltip="The tooltip will position at the top right." data-tooltip-position="top-right">Top Right</button>
<button type="button" role="button" class="button js-tooltip" data-tooltip="The tooltip will position at the top center." data-tooltip-position="top-center">Top Center</button>
<button type="button" role="button" class="button js-tooltip" data-tooltip="The tooltip will position at the top left." data-tooltip-position="top-left">Top Left</button>

<br><br>

<button type="button" role="button" class="button js-tooltip" data-tooltip="The tooltip will follow the mouse cursor." data-tooltip-follow="true">Mouse Follow</button>

<script>
    $(function() {
        $('.js-tooltip').tooltip();
    });
</script>
