
@import "../variables";
@import "compass/css3/transition";

.dropdown {
	display: none;
	text-align: left;
	position: absolute;
	top: 100%;
	left: 0;
	width: 200px;
	background: $gray-light;
	border: 1px solid $gray-dark;
	line-height: 100%;
	opacity: 0;
	visibility: hidden;
	@include transition(opacity .3s);

	// Nested dropdowns
	.dropdown {
		display: block;
		top: 0;
		left: auto;
		right: -85%;
		z-index: 1;
		@include transition(right .3s, opacity .3s);
	}

	li {
		position: relative;
		z-index: 0;

	 	> a {
			padding: $padding / 2;
			display: block;

			.caret-right {
				float: right;
				display: none;
			}
		}

		&.divider {
			margin: ($margin / 2) 0;
			border-top: 1px solid $gray-dark;
		}

		&.has-children {
			> a .caret-right { display: inline-block; }
		}

		// Show nested dropdown
		&:hover {
			a { background: #fff; }

			.dropdown {
				visibility: visible;
				opacity: 1;
				right: -100%;
			}
		}
	}

	// Force display
	&.show {
		display: block;
	}
}

.dropdown,
.dropdown ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.dropdown-heading {
	font-weight: bold;
	padding: $padding / 2;
}

//-------------------- Modifiers --------------------//

.dropdown.dropdown--right {
	left: auto;
	right: 0;
}

.dropdown.dropdown--top {
	top: auto;
	bottom: 100%;
}