<div class="demo--stalker">
    <main id="stalker-markers">
        <h3 id="section-1">Section 1</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur metus quam, viverra a cursus non, eleifend id lacus. Vestibulum mattis felis non purus tempus viverra. In blandit fermentum lacus, nec feugiat neque egestas at. Vestibulum ut lacinia enim. Fusce vitae pharetra urna. Sed interdum massa lectus, in pharetra diam dapibus ac. Suspendisse sit amet turpis et neque lacinia vehicula rhoncus non mauris. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam vestibulum varius ligula id venenatis. Maecenas ac auctor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>

        <div class="divider"></div>

        <h3 id="section-2">Section 2</h3>

        <p>Proin dapibus mauris sed nulla ullamcorper, in pellentesque purus dignissim. Fusce nec nisl elit. Maecenas sit amet tellus iaculis lorem porta hendrerit. Donec nec iaculis metus. Suspendisse placerat augue vel eleifend pretium. Vivamus cursus nisi non ipsum tempus vehicula. Curabitur id blandit augue. </p>

        <p>Proin sit amet ipsum suscipit lectus eleifend blandit interdum eget diam. Praesent non ex a ex ultrices bibendum sit amet ac ante. Sed egestas euismod ornare. Nulla facilisi. Mauris placerat mauris eu nulla dignissim laoreet nec ac velit. Pellentesque sit amet libero et nisi iaculis iaculis eget a velit. Donec rutrum, risus eget consectetur tristique, tortor ligula ullamcorper leo, sed imperdiet nibh ligula eu magna. Quisque ut feugiat libero. </p>

        <div class="divider"></div>

        <h3 id="section-3">Section 3</h3>

        <p>Aenean quis eleifend dolor, a maximus justo. Duis nulla quam, congue eu pharetra at, porta a est. Quisque hendrerit, sapien eget fermentum efficitur, enim massa ultrices purus, viverra sodales metus mi vitae purus. Proin elit ipsum, blandit a lacus eu, tristique accumsan ligula. Aenean id purus ac tortor rhoncus efficitur. Praesent vitae volutpat justo. Phasellus dignissim erat vitae nibh mattis, a posuere erat fermentum. Phasellus ipsum urna, consectetur vel urna vel, dictum volutpat nunc. Donec scelerisque sed erat sed posuere. Nulla a porttitor nisl. In posuere egestas tellus ac dictum. In hac habitasse platea dictumst. Ut erat ex, consectetur a ante et, volutpat congue tellus. Morbi consectetur tellus lacus, at tincidunt quam pellentesque vitae. </p>

        <div class="divider"></div>

        <h3 id="section-4">Section 4</h3>

        <p>Nulla consequat eu urna ut ultrices. Aliquam molestie turpis at justo vehicula semper. Fusce semper eros ac ligula facilisis vulputate. Sed turpis est, aliquam vitae varius nec, ultrices in ante. Nunc ac porttitor diam. Sed eget nulla in metus pretium fermentum. Proin sed porttitor sem. Donec mattis turpis justo, vel laoreet odio maximus sit amet. Donec iaculis laoreet enim id tincidunt. Donec sit amet volutpat leo. Ut eros magna, laoreet nec dignissim quis, dictum vitae lectus. Sed id ligula sed nulla facilisis auctor a sed tellus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ornare dolor ante, eget fermentum leo porta ut. </p>

        <p>Proin dapibus mauris sed nulla ullamcorper, in pellentesque purus dignissim. Fusce nec nisl elit. Maecenas sit amet tellus iaculis lorem porta hendrerit. Donec nec iaculis metus. Suspendisse placerat augue vel eleifend pretium. Vivamus cursus nisi non ipsum tempus vehicula. Curabitur id blandit augue. </p>

        <div class="divider"></div>

        <h3 id="section-5">Section 5</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur metus quam, viverra a cursus non, eleifend id lacus. Vestibulum mattis felis non purus tempus viverra. In blandit fermentum lacus, nec feugiat neque egestas at. Vestibulum ut lacinia enim. Fusce vitae pharetra urna. Sed interdum massa lectus, in pharetra diam dapibus ac. Suspendisse sit amet turpis et neque lacinia vehicula rhoncus non mauris. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam vestibulum varius ligula id venenatis. Maecenas ac auctor libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
    </main>

    <aside>
        <h3>Menu</h3>

        <ul id="stalker-targets">
            <li><a href="#section-1">Section 1</a></li>
            <li><a href="#section-2">Section 2</a></li>
            <li><a href="#section-3">Section 3</a></li>
            <li><a href="#section-4">Section 4</a></li>
            <li><a href="#section-5">Section 5</a></li>
        </ul>
    </aside>
</div>

<script>
    $(function() {
        $('body').stalker({
            target: '#stalker-targets a',
            marker: '#stalker-markers h3[id]'
        });
    });
</script>
