<button type="button" role="button" class="button js-popover" data-popover-animation="fade" data-popover="Will fade in.">Fade</button>
<button type="button" role="button" class="button js-popover" data-popover-animation="from-above" data-popover="Will drop in from above.">From Above</button>
<button type="button" role="button" class="button js-popover" data-popover-animation="from-below" data-popover="Will drop in from below.">From Below</button>
<button type="button" role="button" class="button js-popover" data-popover-animation="flip-rotate" data-popover="Will flip rotate into place.">Flip Rotate</button>

<script>
    $(function() {
        $('.js-popover').popover();
    });
</script>
