<button type="button" role="button" class="button js-popover" title="AJAX" data-popover="ajax/data.html">Load with AJAX</button>

<button type="button" role="button" class="button js-popover" title="DOM" data-popover="#dom">Load from DOM</button>

<button type="button" role="button" class="button js-popover" title="Attributes" data-popover="This content is loaded from an HTML attribute.">Load from attribute</button>

<div id="dom" style="display: none">This content is loaded from a hidden DOM element.</div>

<script>
    $(function() {
        $('.js-popover').popover();
    });
</script>
