<button type="button" role="button" class="button js-popover" data-popover="The popover will position at the bottom right." data-popover-position="bottom-right">Bottom Right</button>
<button type="button" role="button" class="button js-popover" data-popover="The popover will position at the bottom center." data-popover-position="bottom-center">Bottom Center</button>
<button type="button" role="button" class="button js-popover" data-popover="The popover will position at the bottom left." data-popover-position="bottom-left">Bottom Left</button>

<br><br>

<button type="button" role="button" class="button js-popover" data-popover="The popover will position on the right." data-popover-position="center-right">Center Right</button>
<button type="button" role="button" class="button js-popover" data-popover="The popover will position on the left." data-popover-position="center-left">Center Left</button>

<br><br>

<button type="button" role="button" class="button js-popover" data-popover="The popover will position at the top right." data-popover-position="top-right">Top Right</button>
<button type="button" role="button" class="button js-popover" data-popover="The popover will position at the top center." data-popover-position="top-center">Top Center</button>
<button type="button" role="button" class="button js-popover" data-popover="The popover will position at the top left." data-popover-position="top-left">Top Left</button>

<br><br>

<button type="button" role="button" class="button js-popover" data-popover="The popover will follow the mouse cursor." data-popover-follow="true">Mouse Follow</button>

<script>
    $(function() {
        $('.js-popover').popover();
    });
</script>
