<form action="" method="get" class="form--horizontal">
    <fieldset class="no-legend">
        <ul class="fields">
            <li>
                <label class="field-label col span-4" for="text">Text</label>
                <div class="field-col col span-8">
                    <input id="text" type="text" class="input" name="text">
                </div>
            </li>

            <li>
                <label class="field-label col span-4">Static</label>
                <div class="field-col col span-8">
                    <div class="input-static">email@domain.com</div>
                </div>
            </li>

            <li>
                <label class="field-label col span-4" for="file">File</label>
                <div class="field-col col span-8">
                    <input id="file" type="file" class="input" name="file">
                </div>
            </li>
        </ul>
    </fieldset>

    <fieldset>
        <legend>Selects</legend>

        <ul class="fields">
            <li>
                <label class="field-label col span-4" for="select">Select</label>
                <div class="field-col col span-8">
                    <select id="select" class="input" name="select">
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                        <option value="6">Option 6</option>
                    </select>
                </div>
            </li>

            <li>
                <label class="field-label col span-4" for="select-group">Groups</label>
                <div class="field-col col span-8">
                    <select id="select-group" class="input" name="select[group]">
                        <optgroup label="Numbers">
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </optgroup>
                        <optgroup label="Characters">
                            <option value="a">Option A</option>
                            <option value="b">Option B</option>
                            <option value="c">Option C</option>
                        </optgroup>
                    </select>
                </div>
            </li>

            <li>
                <label class="field-label col span-4" for="select-multi">Multiple</label>
                <div class="field-col col span-8">
                    <select id="select-multi" class="input" name="select[multi]" multiple>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="4">Option 4</option>
                        <option value="5">Option 5</option>
                        <option value="6">Option 6</option>
                    </select>
                </div>
            </li>
        </ul>
    </fieldset>

    <fieldset>
        <legend>Others</legend>

        <div class="field">
            <label class="field-label col span-4" for="textarea">Textarea</label>
            <div class="field-col col span-8">
                <textarea id="textarea" class="input span-8" name="textarea">Lorem ipsum dolor sit amet.</textarea>
            </div>
        </div>

        <div class="field">
            <div class="field-col col span-8 push-4">
                <label class="input-checkbox" for="checkbox-1"><input id="checkbox-1" type="checkbox" name="checkbox[]">Checkbox 1</label>
                <label class="input-checkbox" for="checkbox-2"><input id="checkbox-2" type="checkbox" name="checkbox[]">Checkbox 2</label>
                <label class="input-checkbox" for="checkbox-3"><input id="checkbox-3" type="checkbox" name="checkbox[]">Checkbox 3</label>
            </div>
        </div>

        <div class="field">
            <div class="field-col col span-8 push-4">
                <label class="input-radio" for="radio-1"><input id="radio-1" type="radio" name="radio"> Radio 1</label>
                <label class="input-radio" for="radio-2"><input id="radio-2" type="radio" name="radio"> Radio 2</label>
                <label class="input-radio" for="radio-3"><input id="radio-3" type="radio" name="radio"> Radio 3</label>
            </div>
        </div>
    </fieldset>

    <div class="form-actions">
        <button type="submit" class="button is-success">Submit</button>
        <button type="reset" class="button">Reset</button>
    </div>
</form>