<form action="" method="get" class="form--inline">
    <ul class="fields">
        <li>
            <label class="field-label" for="text">Text</label>
            <input id="text" type="text" class="input" name="text">
        </li>

        <li>
            <label class="field-label">Static</label>
            <div class="input-static">email@domain.com</div>
        </li>

        <li>
            <label class="field-label" for="select">Select</label>
            <select id="select" class="input" name="select">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
                <option value="4">Option 4</option>
                <option value="5">Option 5</option>
                <option value="6">Option 6</option>
            </select>
        </li>

        <li>
            <label class="input-checkbox" for="checkbox-1"><input id="checkbox-1" type="checkbox" name="checkbox[]">Checkbox 1</label>
            <label class="input-checkbox" for="checkbox-2"><input id="checkbox-2" type="checkbox" name="checkbox[]">Checkbox 2</label>
            <label class="input-checkbox" for="checkbox-3"><input id="checkbox-3" type="checkbox" name="checkbox[]">Checkbox 3</label>
        </li>

        <li>
            <label class="input-radio" for="radio-1"><input id="radio-1" type="radio" name="radio"> Radio 1</label>
            <label class="input-radio" for="radio-2"><input id="radio-2" type="radio" name="radio"> Radio 2</label>
            <label class="input-radio" for="radio-3"><input id="radio-3" type="radio" name="radio"> Radio 3</label>
        </li>

        <li class="form-actions">
            <button type="submit" class="button is-success">Submit</button>
            <button type="reset" class="button">Reset</button>
        </li>
    </ul>
</form>

<hr class="demo-spacer">

<input type="text" class="input" value="Input">
<select class="input"><option>Select</option></select>
<button type="Button" class="button">Button</button>
<a href="javascript:;" class="button">Anchor</a>
<input type="submit" class="button" value="Submit">