<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Titon Toolkit - Form</title>
    <link href="../../css/toolkit.css" rel="stylesheet">
    <link href="../../css/demo.css" rel="stylesheet">
    <script src="../../js/jquery-2.0.3.js"></script>
    <script src="../../js/toolkit.js"></script>
</head>
<body>

<form action="" method="get">
    <ul class="fields">
        <li>
            <label class="field-label" for="text-large">Large Input</label>
            <input id="text-large" type="text" class="input large" name="text">
        </li>

        <li>
            <label class="field-label" for="text">Medium Input</label>
            <input id="text" type="text" class="input" name="text">
        </li>

        <li>
            <label class="field-label" for="text-small">Small Input</label>
            <input id="text-small" type="text" class="input small" name="text">
        </li>

        <li>
            <label class="field-label">Large Static</label>
            <div class="input-static large">email@domain.com</div>
        </li>

        <li>
            <label class="field-label">Medium Static</label>
            <div class="input-static">email@domain.com</div>
        </li>

        <li>
            <label class="field-label">Small Static</label>
            <div class="input-static small">email@domain.com</div>
        </li>
    </ul>
</form>

</body>
</html>