<form action="" method="get">
    <ul class="fields">
        <li>
            <label class="field-label" for="text-large">Large Input</label>
            <input id="text-large" type="text" class="input large" name="text">
        </li>

        <li>
            <label class="field-label" for="text">Medium Input</label>
            <input id="text" type="text" class="input" name="text">
        </li>

        <li>
            <label class="field-label" for="text-small">Small Input</label>
            <input id="text-small" type="text" class="input small" name="text">
        </li>

        <li>
            <label class="field-label">Large Static</label>
            <div class="input-static large">email@domain.com</div>
        </li>

        <li>
            <label class="field-label">Medium Static</label>
            <div class="input-static">email@domain.com</div>
        </li>

        <li>
            <label class="field-label">Small Static</label>
            <div class="input-static small">email@domain.com</div>
        </li>
    </ul>
</form>