<form action="" method="get">
    <ul class="fields">
        <li>
            <label class="field-label" for="text">Default</label>
            <input id="text" type="text" class="input" name="text">
        </li>

        <li>
            <label class="field-label" for="readonly">Read Only</label>
            <input id="readonly" type="text" class="input" name="readonly" readonly value="Titon Toolkit">
        </li>

        <li class="is-disabled">
            <label class="field-label" for="disabled">Disabled</label>
            <input id="disabled" type="text" class="input" name="disabled" disabled value="Titon Toolkit">
        </li>

        <li class="is-required">
            <label class="field-label" for="required">Required</label>
            <input id="required" type="text" class="input" name="text" required>
        </li>

        <li class="is-success">
            <label class="field-label" for="success">Success</label>
            <input id="success" type="text" class="input" name="text">
        </li>

        <li class="is-error">
            <label class="field-label" for="error">Error</label>
            <input id="error" type="text" class="input" name="text">
        </li>
    </ul>
</form>