<ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Aliquam dapibus tempor risus, a ultricies libero posuere ut.</li>
    <li>Proin vitae enim fermentum, vulputate justo id, imperdiet nunc.</li>
    <li>Curabitur pellentesque convallis lectus a porta.</li>
    <li>
        Quisque tristique lectus sem, vel lacinia ipsum bibendum a.

        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Aliquam dapibus tempor risus, a ultricies libero posuere ut.</li>
            <li>Proin vitae enim fermentum, vulputate justo id, imperdiet nunc.</li>
            <li>Curabitur pellentesque convallis lectus a porta.</li>
        </ul>
    </li>
    <li>Phasellus et mauris volutpat augue tempor convallis.</li>
    <li>Aliquam metus dolor, imperdiet non volutpat nec, molestie sed felis.</li>
    <li>Etiam orci ipsum, venenatis nec magna nec, porttitor aliquet est.</li>
    <li>Vivamus id tincidunt dui, in vestibulum enim.</li>
    <li>Maecenas convallis interdum nibh, vitae tristique tellus adipiscing id.</li>
    <li>Phasellus rutrum diam in condimentum convallis.</li>
</ul>

<ol>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Aliquam dapibus tempor risus, a ultricies libero posuere ut.</li>
    <li>Proin vitae enim fermentum, vulputate justo id, imperdiet nunc.</li>
    <li>Curabitur pellentesque convallis lectus a porta.</li>
    <li>
        Quisque tristique lectus sem, vel lacinia ipsum bibendum a.

        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Aliquam dapibus tempor risus, a ultricies libero posuere ut.</li>
            <li>Proin vitae enim fermentum, vulputate justo id, imperdiet nunc.</li>
            <li>Curabitur pellentesque convallis lectus a porta.</li>
            <li>Quisque tristique lectus sem, vel lacinia ipsum bibendum a.</li>
        </ul>
    </li>
    <li>Phasellus et mauris volutpat augue tempor convallis.</li>
    <li>Aliquam metus dolor, imperdiet non volutpat nec, molestie sed felis.</li>
    <li>Etiam orci ipsum, venenatis nec magna nec, porttitor aliquet est.</li>
    <li>Vivamus id tincidunt dui, in vestibulum enim.</li>
    <li>Maecenas convallis interdum nibh, vitae tristique tellus adipiscing id.</li>
    <li>Phasellus rutrum diam in condimentum convallis.</li>
</ol>

<dl>
    <dt>Lorem ipsum dolor sit amet</dt> <dd>consectetur adipiscing elit.</dd>
    <dt>Aliquam dapibus tempor risus</dt> <dd>a ultricies libero posuere ut.</dd>
    <dt>Phasellus et mauris</dt> <dd>volutpat augue tempor convallis.</dd>
</dl>