<table class="demo--responsive">
    <tr>
        <td class="show-xsmall">Extra Small<br> &lt;= 640px</td>
        <td class="hide-xsmall">Extra Small<br> &lt;= 640px</td>
        <td class="show-small">Small<br> &lt;= 960px</td>
        <td class="hide-small">Small<br> &lt;= 960px</td>
        <td class="show-medium">Medium<br> &lt;= 1280px</td>
        <td class="hide-medium">Medium<br> &lt;= 1280px</td>
        <td class="show-large">Large<br> &lt;= 1680px</td>
        <td class="hide-large">Large<br> &lt;= 1680px</td>
        <td class="show-xlarge">Extra Large<br> &gt; 1680px</td>
        <td class="hide-xlarge">Extra Large<br> &gt; 1680px</td>
    </tr>
</table>

<table class="demo--responsive">
    <tr>
        <td class="show-landscape">Landscape</td>
        <td class="hide-landscape">Landscape</td>
        <td class="show-portrait">Portrait</td>
        <td class="hide-portrait">Portrait</td>
    </tr>
    <tr>
        <td class="show-print">Print</td>
        <td class="hide-print">Print</td>
        <td class="show-retina">Retina</td>
        <td class="hide-retina">Retina</td>
    </tr>
</table>