<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Titon Toolkit - Label</title>
    <link href="../../css/toolkit.css" rel="stylesheet">
    <link href="../../css/demo.css" rel="stylesheet">
    <script src="../../js/jquery-2.0.3.js"></script>
    <script src="../../js/toolkit.js"></script>
</head>
<body>

<span class="label">Label</span>
<span class="label label--arrow-left is-info">Info</span>
<span class="label label--arrow-right is-success">Success</span>
<span class="label label--ribbon-left is-warning">Warning</span>
<span class="label label--ribbon-right is-error">Error</span>
<span class="label label--badge">26</span>

</body>
</html>