
@import "../variables";
@import "../mixins";
@import "compass/css3/transition";

body {
	font: normal 90%/2rem Verdana, Arial, sans-serif;
	background: $background-color;
	color: $foreground-color;
}

//-------------------- Typography --------------------//

a {
	color: $error;
	text-decoration: none;

	&:hover { color: $error-dark; }
}

//-------------------- Accordion --------------------//

.accordion {
	border: 1px solid $gray-dark;
}

.accordion-head {
	padding: $padding;
	background: $gray;
	border: 1px solid $gray-dark;
	margin: -1px;
	cursor: pointer;
	@include transition(all .3s);

	.is-active & {
		background: $error;
		border-color: $error-dark;
		color: #fff;
	}
}

.accordion-body {
	padding: $padding;
}

//-------------------- Alert --------------------//

@mixin alert-style($bg, $text) {
	color: $text;
	background: $bg;
	border: 1px solid shade($bg, 10%);

	hr { border-color: shade($bg, 10%); }

	a { color: shade($text, 10%); }
	a:hover { color: tint($text, 25%); }

	@content;
}

.alert {
	@include alert-style($default-light, $default-dark);

	&.info { @include alert-style($info-light, $info-dark); }
	&.error { @include alert-style($error-light, $error-dark); }
	&.warning { @include alert-style($warning-light, $warning-dark); }
	&.success { @include alert-style($success-light, $success-dark); }
}

//-------------------- Button --------------------//

@mixin button-style($base, $light, $dark) {
	font-weight: bold;
	background: shade($base, 5%);
	text-shadow: 1px 1px black(.2);
	border: 1px solid shade($base, 12%);

	@include active-state {
		color: #fff;
		background-color: shade($base, 20%);
		text-shadow: 1px 1px $dark;
		border-color: shade($base, 30%);
	}

	&:active {
		top: 1px;
	}

	@include disabled-state {
		background: $base;
		border-color: $base;
		box-shadow: none;
		text-shadow: none;
		top: 0;
		opacity: $disabled-opacity;
	}

	@content;
}

.button {
	color: #fff;
	@include transition(all .3s);
	@include button-style($default, $default-light, $default-dark);

	&.info { @include button-style($info, $info-light, $info-dark); }
	&.error { @include button-style($error, $error-light, $error-dark); }
	&.warning { @include button-style($warning, $warning-light, $warning-dark); }
	&.success { @include button-style($success, $success-light, $success-dark); }
}

//-------------------- Flyout, TypeAhead --------------------//

.flyout,
.type-ahead {
	background: $gray;
	border: 1px solid $gray-dark;
	box-shadow: 5px 5px black(.25);
	padding: $padding / 2;

	li {
		&:nth-child(odd) > a { background: $gray-lightest; }
		.divider { background: $gray-dark; }

		> a:hover,
		&.is-open > a,
		&.is-active > a {
			background: $error;
			color: #fff;

			.caret-right { border-left-color: #fff; }
		}
	}
}

.type-ahead {
	.type-ahead-desc {
		display: block;
		color: $gray-darkest;
		font-size: .7rem;
	}

	.type-ahead-highlight { background: $warning-light; }

	li a:hover,
	li.is-active a {
		.type-ahead-desc { color: $gray-lightest; }
		.type-ahead-highlight{ background: $error-light; }
	}
}

//-------------------- Label, Badge --------------------//

@mixin label-style($bg, $text) {
	background: $bg;
	color: $text;
}

.label,
.badge {
	@include label-style($default-light, $default-dark);

	&.info { @include label-style($info-light, $info-dark); }
	&.error { @include label-style($error-light, $error-dark); }
	&.warning { @include label-style($warning-light, $warning-dark); }
	&.success { @include label-style($success-light, $success-dark); }
}

.label.label--left {
	&:after { border-right-color: $default-light; }
	&.info:after { border-right-color: $info-light; }
	&.error:after { border-right-color: $error-light; }
	&.warning:after { border-right-color: $warning-light; }
	&.success:after { border-right-color: $success-light; }
}

.label.label--right {
	&:after { border-left-color: $default-light; }
	&.info:after { border-left-color: $info-light; }
	&.error:after { border-left-color: $error-light; }
	&.warning:after { border-left-color: $warning-light; }
	&.success:after { border-left-color: $success-light; }
}

//-------------------- Modal --------------------//

.modal-outer {
	margin: $margin;
	background: $gray;
	border: 1px solid $gray-dark;
	box-shadow: 5px 5px black(.25);
}

.modal-body {
	background: #fff;
	border-top: 1px solid $gray-dark;
	border-bottom: 1px solid $gray-dark;
}

.modal-foot {
	background: $gray-lightest;
	text-align: center;
}
