<div class="tabs" id="tabs" data-tab>
    <nav class="tab-nav" data-tab-nav>
        <ul>
            <li><a href="ajax/titans.html" class="button">Titans</a></li>
            <li><a href="ajax/olympians.html" class="button">Olympians</a></li>
            <li><a href="ajax/muses.html" class="button">Muses</a></li>
        </ul>
    </nav>

    <section class="tab-section" data-tab-section id="titans"></section>
    <section class="tab-section" data-tab-section id="olympians"></section>
    <section class="tab-section" data-tab-section id="muses"></section>
</div>

<script>
    $(function() {
        $('#tabs').tab({
            ajax: true
        });
    });
</script>