<div class="tabs" id="tabs" data-tab>
    <nav class="tab-nav" data-tab-nav>
        <ul>
            <li><a href="ajax/section-1.html" class="button">Section 1</a></li>
            <li><a href="ajax/section-2.html" class="button">Section 2</a></li>
            <li><a href="ajax/section-3.html" class="button">Section 3</a></li>
        </ul>
    </nav>

    <section class="tab-section" data-tab-section id="section-1"></section>
    <section class="tab-section" data-tab-section id="section-2"></section>
    <section class="tab-section" data-tab-section id="section-3"></section>
</div>

<script>
    $(function() {
        $('#tabs').tab({
            ajax: true
        });
    });
</script>
