<div class="tabs" id="tabs">
    <nav class="tab-nav" data-tab-nav>
        <ul>
            <li><a href="#titans" class="button">Titans</a></li>
            <li><a href="#olympians" class="button">Olympians</a></li>
            <li><a href="#muses" class="button">Muses</a></li>
        </ul>
    </nav>

    <section class="tab-section" data-tab-section id="titans">
        <p>Titans were a primeval race of powerful deities, descendants of Gaia (Earth) and Uranus (Sky),
            that ruled during the legendary Golden Age. They were immortal giants of incredible strength and
            were also the first pantheon of Greek gods and goddesses.</p>

        <p>In the first generation of twelve Titans, the males were Oceanus, Hyperion, Coeus, Cronus, Crius,
            and Iapetus and the females—the Titanesses or Titanides—were Mnemosyne, Tethys, Theia, Phoebe, Rhea,
            and Themis. The second generation of Titans consisted of Hyperion's children Helios, Selene and Eos;
            Coeus's daughters Leto and Asteria; Iapetus's children Atlas, Prometheus, Epimetheus, and Menoetius;
            Oceanus' daughter Metis; and Crius' sons Astraeus, Pallas, and Perses.</p>

        <p>The Titans were overthrown by a race of younger gods, the Olympians, in the Titanomachy ("War of the Titans").
            The Greeks may have borrowed this mytheme from the Ancient Near East.</p>
    </section>

    <section class="tab-section" data-tab-section id="olympians">
        <p>In the ancient Greek religion, the Twelve Olympians are the major deities of the Greek pantheon,
            commonly considered to be Zeus, Hera, Poseidon, Demeter, Athena, Apollo, Artemis, Ares, Aphrodite,
            Hephaestus, Hermes and either Hestia, or Dionysus. Hades and Persephone were sometimes included as
            part of the twelve Olympians (primarily due to the influence of the Eleusinian Mysteries),
            although in general Hades was excluded, because he resided permanently in the underworld and never
            visited Mount Olympus. Heracles and Asclepius were sometimes included as well.</p>
    </section>

    <section class="tab-section" data-tab-section id="muses">
        <p>The Muses, in Greek mythology, poetry and literature, are the goddesses of the inspiration of literature,
            science and the arts. They were considered the source of the knowledge, related orally for centuries in
            the ancient culture, that was contained in poetic lyrics and myths.</p>

        <p>The Muses were both the embodiments and sponsors of performed metrical speech:
            mousike was just "one of the arts of the Muses". Others included Science, Geography, Mathematics,
            Philosophy, and especially Art, Drama, and inspiration. Some authors invoke Muses when writing poetry,
            hymns or epic history. The invocation typically occurs at or near the beginning, and calls for help or
            inspiration, or simply invites the Muse to sing through the author. </p>
    </section>
</div>

<script>
    $(function() {
        $('#tabs').tab();
    });
</script>