<span class="x"></span>

<hr class="demo-spacer">

<span class="caret-up"></span>
<span class="caret-right"></span>
<span class="caret-down"></span>
<span class="caret-left"></span>

<hr class="demo-spacer">

<span class="sorter">
    <span class="caret-up"></span>
    <span class="caret-down"></span>
</span>

<span class="sorter asc">
    <span class="caret-up"></span>
    <span class="caret-down"></span>
</span>

<span class="sorter desc">
    <span class="caret-up"></span>
    <span class="caret-down"></span>
</span>