<p>Hover links for flyout menu.</p>

<nav class="breadcrumb" role="navigation" aria-label="Flyout Navigation">
    <ol>
        <li><a href="/" class="js-flyout">Web Development <span class="caret">/</span></a></li>
        <li><a href="/languages" class="js-flyout">Languages <span class="caret">/</span></a></li>
        <li><a href="/language/javascript" class="js-flyout">JavaScript <span class="caret">/</span></a></li>
        <li><a href="/language/javascript/node" class="js-flyout">Node.js <span class="caret">/</span></a></li>
    </ol>
</nav>

<script>
    $(function() {
        $(document).on('click', 'a', function(e) {
            e.preventDefault(); // Disable link clicking in demo
        });

        $('.js-flyout').flyout('ajax/data.json');
    });
</script>
