
$grid-columns-large: 12 !default;
$grid-columns-medium: 8 !default;
$grid-columns-small: 6 !default;

$grid-columns-desktop: 12 !default;
$grid-columns-tablet: 6 !default;
$grid-columns-mobile: 3 !default;

// Calculate a width using a grid cell
@function grid-span($columns, $n) {
    @return (100% / $columns) * $n;
}

// Styles for the row containing the columns
@mixin grid-row() {
    text-align: left;
    width: 100%;
    max-width: 100%;

    @include clear-fix;
}

// Styles for the column
@mixin grid-column() {
    position: relative;
    min-height: 1px;
    float: left;
}