
// Black transparent background
@function black($opacity){
    @return rgba(0, 0, 0, $opacity);
}

// White transparent background
@function white($opacity){
    @return rgba(255, 255, 255, $opacity);
}

// Take a list of classes and generate a selector list
@function join-classes($classes, $inherit: true) {
    $selectors: ();

    @each $class in $classes {
        @if str-index($class, ".") != 0 {
            $class: "." + $class;
        }

        @if $inherit {
            $selectors: $selectors, unquote("&" + $class);
        } @else {
            $selectors: $selectors, unquote($class);
        }
    }

    @return $selectors;
}

// Format a class name into the BEM format
@function bem($block: "", $element: "", $modifier: "", $element-separator: $bem-element-separator, $modifier-separator: $bem-modifier-separator) {
    $name: $block;

    @if $element != "" {
        $name: $name + $element-separator + $element;
    }

    @if $modifier != "" {
        $name: $name + $modifier-separator + $modifier;
    }

    @return $name;
}