<p>The Muses, in Greek mythology, poetry and literature, are the goddesses of the inspiration of literature,
    science and the arts. They were considered the source of the knowledge, related orally for centuries in
    the ancient culture, that was contained in poetic lyrics and myths.</p>

<p>The Muses were both the embodiments and sponsors of performed metrical speech:
    mousike was just "one of the arts of the Muses". Others included Science, Geography, Mathematics,
    Philosophy, and especially Art, Drama, and inspiration. Some authors invoke Muses when writing poetry,
    hymns or epic history. The invocation typically occurs at or near the beginning, and calls for help or
    inspiration, or simply invites the Muse to sing through the author. </p>