<p>Titans were a primeval race of powerful deities, descendants of Gaia (Earth) and Uranus (Sky),
    that ruled during the legendary Golden Age. They were immortal giants of incredible strength and
    were also the first pantheon of Greek gods and goddesses.</p>

<p>In the first generation of twelve Titans, the males were Oceanus, Hyperion, Coeus, Cronus, Crius,
    and Iapetus and the females—the Titanesses or Titanides—were Mnemosyne, Tethys, Theia, Phoebe, Rhea,
    and Themis. The second generation of Titans consisted of Hyperion's children Helios, Selene and Eos;
    Coeus's daughters Leto and Asteria; Iapetus's children Atlas, Prometheus, Epimetheus, and Menoetius;
    Oceanus' daughter Metis; and Crius' sons Astraeus, Pallas, and Perses.</p>

<p>The Titans were overthrown by a race of younger gods, the Olympians, in the Titanomachy ("War of the Titans").
    The Greeks may have borrowed this mytheme from the Ancient Near East.</p>