<ul class="accordion" id="accordion">
    <li>
        <header class="accordion-header">
            <h6>Cronus</h6>
        </header>
        <section class="accordion-section">
            <div class="accordion-body">
                <p>In the most classic and well known version of Greek mythology,
                    Cronus was the leader and the youngest of the first generation of Titans,
                    divine descendants of Gaia, the earth, and Uranus, the sky.
                    He overthrew his father and ruled during the mythological Golden Age,
                    until he was overthrown by his own son Zeus and imprisoned in Tartarus.</p>
            </div>
        </section>
    </li>
    <li>
        <header class="accordion-header">
            <h6>Oceanus</h6>
        </header>
        <section class="accordion-section">
            <div class="accordion-body">
                <p>Oceanus was a pseudo-geographical feature in classical antiquity,
                    believed by the ancient Greeks and Romans to be the divine personification of the World Ocean,
                    an enormous river encircling the world.</p>

                <p>Some scholars believe that Oceanus originally represented all bodies of salt water,
                    including the Mediterranean Sea and the Atlantic Ocean,
                    the two largest bodies known to the ancient Greeks. However, as geography became more accurate,
                    Oceanus came to represent the stranger, more unknown waters of the Atlantic Ocean
                    (also called the "Ocean Sea"), while the newcomer of a later generation,
                    Poseidon, ruled over the Mediterranean.</p>
            </div>
        </section>
    </li>
    <li>
        <header class="accordion-header">
            <h6>Hyperion</h6>
        </header>
        <section class="accordion-section">
            <div class="accordion-body">
                <p>In Greek mythology, Hyperion was one of the twelve Titan children of Gaia and Uranus who,
                    led by Cronus, overthrew Uranus and were themselves later overthrown by the Olympians.
                    With his sister, the Titaness Theia, Hyperion fathered...</p>

                <ul>
                    <li>Helios (Sun)</li>
                    <li>Selene (Moon)</li>
                    <li>Eos (Dawn)</li>
                </ul>
            </div>
        </section>
    </li>
</ul>

<script>
    $(function() {
        $('#accordion').accordion({
            multiple: true
        });
    });
</script>