<ul class="accordion" id="accordion" data-accordion>
    <li>
        <header class="accordion-header" data-accordion-header>
            <h6>Section 1</h6>
        </header>
        <section class="accordion-section" data-accordion-section>
            <div class="accordion-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit, lacus quis tempus fermentum, risus magna blandit massa, vel cursus ante diam et mi. Maecenas porttitor feugiat sapien. Vivamus ultricies placerat lacus eu consectetur. Sed nibh quam, mattis sed tincidunt aliquam, ornare vitae diam. Pellentesque eleifend sagittis ante, sed dignissim magna malesuada non. Etiam volutpat lacus quis augue rutrum, eget pharetra ante pulvinar.</p>
            </div>
        </section>
    </li>
    <li>
        <header class="accordion-header" data-accordion-header>
            <h6>Section 2</h6>
        </header>
        <section class="accordion-section" data-accordion-section>
            <div class="accordion-body">
                <p>Phasellus viverra convallis ex sit amet convallis. Sed accumsan dignissim massa, eu volutpat tellus semper at. Quisque non lectus sit amet lectus consectetur tincidunt nec in sem. Fusce lobortis blandit turpis, vel vestibulum nulla egestas vitae. Vivamus quis orci vitae odio elementum facilisis. Vestibulum suscipit quam in dictum ullamcorper. Sed lectus quam, faucibus id pellentesque nec, suscipit at elit. </p>

                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi fermentum congue lectus, at imperdiet odio dictum sit amet.</p>
            </div>
        </section>
    </li>
    <li>
        <header class="accordion-header" data-accordion-header>
            <h6>Section 3</h6>
        </header>
        <section class="accordion-section" data-accordion-section>
            <div class="accordion-body">
                <p>Sed non sem tempor, feugiat risus at, dignissim ipsum. Ut efficitur lacus non sem laoreet tincidunt. Proin porttitor placerat massa, eu varius libero elementum ac. Donec a ligula ullamcorper, pulvinar leo vel, vestibulum magna. Aliquam et tempus tortor.</p>

                <ul>
                    <li>Nulla leo nulla, porta in tortor in.</li>
                    <li>Cras sed finibus felis.</li>
                    <li>Nulla purus turpis, lobortis at viverra id.</li>
                </ul>
            </div>
        </section>
    </li>
</ul>

<script>
    $(function() {
        $('#accordion').accordion({
            multiple: true
        });
    });
</script>
