
@import "variables";

//-------------------- Styles --------------------//

@mixin clear-after {
	&:after {
		content: "";
		display: block;
		height: 0;
		line-height: 0;
		clear: both;
		visibility: hidden;
	}
}

@mixin reset-inline-block {
	display: inline-block;
	border: 0;
	margin: 0;
	padding: 0;
	z-index: 0;
	position: relative;
	text-decoration: none;
	vertical-align: middle;
}

//-------------------- Sizes --------------------//

@mixin size-small {
	font-size: $small-size;
	padding: $small-padding;
}

@mixin size-medium {
	font-size: $medium-size;
	padding: $medium-padding;
}

@mixin size-large {
	font-size: $large-size;
	padding: $large-padding;
}

//-------------------- States --------------------//

@mixin active-state {
	.is-active &,
	&.is-active,
	&.is-active:hover,
	&:hover { @content; }
}

@mixin disabled-state {
	.is-disabled &,
	&.is-disabled,
	&.is-disabled:hover,
	&[disabled],
	&[disabled]:hover { @content; }
}

//-------------------- Helpers --------------------//

@function black($opacity){
	@return rgba(0, 0, 0, $opacity);
}

@function white($opacity){
	@return rgba(255, 255, 255, $opacity);
}

//-------------------- Responsive --------------------//

@mixin if-desktop {
	@media all and (max-width: 1440px) {
		@content;
	}
}

@mixin if-laptop {
	@media all and (max-width: 1366px) {
		@content;
	}
}

@mixin if-tablet-landscape {
	@media all and (max-width: 1024px) {
		@content;
	}
}

@mixin if-tablet-portrait {
	@media all and (max-width: 768px) {
		@content;
	}
}

@mixin if-mobile-landscape {
	@media all and (max-width: 480px) {
		@content;
	}
}

@mixin if-mobile-portrait {
	@media all and (max-width: 320px) {
		@content;
	}
}