
@import "variables";

@mixin clear-after {
	&:after {
		content: "";
		display: block;
		height: 0;
		line-height: 0;
		clear: both;
		visibility: hidden;
	}
}

@mixin reset-inline-block {
	display: inline-block;
	border: 0;
	margin: 0;
	padding: 0;
	z-index: 0;
	position: relative;
	text-decoration: none;
	vertical-align: middle;
}

@mixin size-small {
	font-size: .7rem;
	padding: 0 .7rem;
	height: 26px;
	line-height: 26px;
}

@mixin size-medium {
	font-size: .85rem;
	padding: 0 .85rem;
	height: 34px;
	line-height: 34px;
}

@mixin size-large {
	font-size: 1.1rem;
	padding: 0 1.1rem;
	height: 42px;
	line-height: 42px;
}

@mixin active-state {
	.is-active &,
	&.is-active,
	&.is-active:hover,
	&:hover { @content; }
}

@mixin disabled-state {
	.is-disabled &,
	&.is-disabled,
	&.is-disabled:hover,
	&[disabled],
	&[disabled]:hover { @content; }
}

@mixin close-button($module) {
	.#{$module}-close {
		@include reset-inline-block;
		padding: 4px;
		background: white(.5);
		border-radius: 2px;
		line-height: 100%;
		cursor: pointer;

		&:hover { background: white(.8); }

		.x {
			color: #000;
			opacity: .75;
			line-height: 0;
		}

		@content;
	}
}

@function black($opacity){
	@return rgba(0, 0, 0, $opacity);
}

@function white($opacity){
	@return rgba(255, 255, 255, $opacity);
}