
@import "variables";

@mixin clear-after {
	&:after {
		content: "";
		display: block;
		height: 0;
		line-height: 0;
		clear: both;
		visibility: hidden;
	}
}

@mixin reset-inline-block {
	display: inline-block;
	border: 0;
	margin: 0;
	padding: 0;
	z-index: 0;
	position: relative;
	text-decoration: none;
	vertical-align: middle;
}

@mixin size-small {
	font-size: $small-size;
	padding: $small-padding;
}

@mixin size-medium {
	font-size: $medium-size;
	padding: $medium-padding;
}

@mixin size-large {
	font-size: $large-size;
	padding: $large-padding;
}

@mixin active-state {
	.is-active &,
	&.is-active,
	&.is-active:hover,
	&:hover { @content; }
}

@mixin disabled-state {
	.is-disabled &,
	&.is-disabled,
	&.is-disabled:hover,
	&[disabled],
	&[disabled]:hover { @content; }
}

@mixin close-button {
	.close {
		@include reset-inline-block;
		padding: 3px 4px;
		background: white(.5);
		border-radius: 2px;
		line-height: 100%;
		cursor: pointer;

		&:hover { background: white(.8); }

		.x {
			color: #000;
			opacity: .75;
			line-height: 0;
			position: relative;
			top: -1px;
		}

		@content;
	}
}

@function black($opacity){
	@return rgba(0, 0, 0, $opacity);
}

@function white($opacity){
	@return rgba(255, 255, 255, $opacity);
}