<a href="http://placehold.it/500x500/4c6278/ffffff" class="js-showcase" title="A 1:1 square image.">
    <img src="http://placehold.it/200x150/4c6278/ffffff" alt="">
</a>

<a href="http://placehold.it/400x300/42586e/ffffff" class="js-showcase" title="A 4:3 rectangle image.">
    <img src="http://placehold.it/200x150/42586e/ffffff" alt="">
</a>

<a href="http://placehold.it/1600x900/344a5f/ffffff" class="js-showcase" title="A 16:9 rectangle image.">
    <img src="http://placehold.it/200x150/344a5f/ffffff" alt="">
</a>

<a href="http://placehold.it/1500x500/293f54/ffffff" class="js-showcase" title="Width is larger than the height.">
    <img src="http://placehold.it/200x150/293f54/ffffff" alt="">
</a>

<a href="http://placehold.it/500x1500/283442/ffffff" class="js-showcase" title="Height is larger than the width.">
    <img src="http://placehold.it/200x150/283442/ffffff" alt="">
</a>

<script>
    $(function() {
        $('.js-showcase').showcase();
    });
</script>