<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Titon Toolkit - Showcase</title>
    <link href="../../css/toolkit.css" rel="stylesheet">
    <link href="../../css/demo.css" rel="stylesheet">
    <script src="../../js/jquery-2.0.3.js"></script>
    <script src="../../js/toolkit.js"></script>
</head>
<body>

<a href="http://placehold.it/500x500/4c6278/ffffff" class="js-showcase" title="First image." data-showcase="category">
    <img src="http://placehold.it/200x150/4c6278/ffffff" alt="">
</a>

<a href="http://placehold.it/400x300/42586e/ffffff" class="js-showcase" title="Second image." data-showcase="category">
    <img src="http://placehold.it/200x150/42586e/ffffff" alt="">
</a>

<a href="http://placehold.it/1600x900/344a5f/ffffff" class="js-showcase" title="Third image." data-showcase="category">
    <img src="http://placehold.it/200x150/344a5f/ffffff" alt="">
</a>

<a href="http://placehold.it/200x400/293f54/ffffff" class="js-showcase" title="Fourth image." data-showcase="category">
    <img src="http://placehold.it/200x150/293f54/ffffff" alt="">
</a>

<a href="http://placehold.it/225x375/283442/ffffff" class="js-showcase" title="Fifth image." data-showcase="category">
    <img src="http://placehold.it/200x150/283442/ffffff" alt="">
</a>

<script>
    $(function() {
        $('.js-showcase').showcase();
    });
</script>

</body>
</html>