<label for="switch-1" class="switch large">
    <input type="checkbox" value="1" id="switch-1" name="switch-1">

    <span class="switch-bar" data-switch-on="On" data-switch-off="Off">
        <span class="switch-toggle"></span>
    </span>
</label>

<label for="switch-2" class="switch">
    <input type="checkbox" value="1" id="switch-2" name="switch-2">

    <span class="switch-bar" data-switch-on="On" data-switch-off="Off">
        <span class="switch-toggle"></span>
    </span>
</label>

<label for="switch-3" class="switch small">
    <input type="checkbox" value="1" id="switch-3" name="switch-3">

    <span class="switch-bar" data-switch-on="On" data-switch-off="Off">
        <span class="switch-toggle"></span>
    </span>
</label>